@value badgerWhite, badgerRed, linesOnWhite from "../../../../../css/_colors.css";

button {
  position: absolute;
  width: 20px;
  height: 20px;
}

.arrowLeft {
  left: -44px;
  top: -18px;
}

.arrowRight {
  right: -27px;
  top: -18px;
}

.arrowLeft div {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrowRight div {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrowLeft .active,
.arrowRight .active {
  background-color: badgerRed;
}

.arrowLeft .inactive,
.arrowRight .inactive {
  background-color: linesOnWhite;
}

.arrowLeft .innerArrow {
  left: 12px;
  background-color: badgerWhite;
}

.arrowRight .innerArrow {
  left: 0;
  background-color: badgerWhite;
}
