@value badgerWhite, badgerRed, linesOnWhite from "../../../../../css/_colors.css";

.arrow {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 0;
}

.arrowLeft {
  left: -44px;
  top: -9px;
}

.arrowRight {
  right: -44px;
  top: -9px;
}

.arrowLeft div {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrowRight div {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrowLeft .active,
.arrowRight .active {
  background-color: badgerRed;
}

.arrowLeft .inactive,
.arrowRight .inactive {
  background-color: linesOnWhite;
}

.arrowLeft .innerArrow {
  left: 7px;
  background-color: badgerWhite;
}

.arrowRight .innerArrow {
  left: -6px;
  background-color: badgerWhite;
}
