@value badgerBlack, daveGreen from "../../../css/_colors.css";

.successContainer {
  padding: 60px 20px 70px 20px;
  text-align: center;
  composes: dividerGreen from "../../../css/_divider.css";
  background-color: daveGreen;
}

.heading {
  max-width: contentMaxWidth;
  composes: fontL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  margin: 0px auto 40px auto;
  color: badgerBlack;
}

.closeButton {
  composes: primaryButton from "../../../css/_links.css";
  background-color: badgerBlack;
  display: block;
  margin: 40px auto 0px auto;
}
