.counter {
  margin: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  width: 220px;
  text-align: center;
}

.title {
  composes: sansSerifBold from "../../../../../css/typography/_fonts.css";
  composes: fontXS from "../../../../../css/typography/_fonts.css";
  margin-top: 10px;
  margin-bottom: 10px;
}

.count{
  composes: serif from "../../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../../css/typography/_fonts.css";
  margin-bottom: 10px;
}
