@value badgerRedOnWhite from '../../css/_colors.css';
@value mediumScreen, largeScreen from '../../css/_sizes.css';

.quotation__text {
  composes: serif from '../../css/typography/_fonts.css';
  composes: fontS2 from '../../css/typography/_fonts.css';
  display: inline;
  text-align: left;
}

.quotation__quote:before {
  content: '“';
  vertical-align: top;
  padding-right: 10px;
  margin-left: -0.8em;
}

.quotation__quote:before,
.quotation__quote:after {
  speak: none;
  font-size: 36px;
  color: badgerRedOnWhite;
}

.quotation__quote:after {
  content: '”';
  vertical-align: bottom;
  padding-left: 10px;
}

.quotation__author {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.quotation__author__wrapper {
  composes: fontXS from '../../css/typography/_fonts.css';
  line-height: 1.2em;
  margin-left: 13px;
}

.quotation__author__name {
  composes: boldSansSerif from '../../css/typography/_fonts.css';
}

.quotation__author__title {
  composes: sansSerif from '../../css/typography/_fonts.css';
}
