@value badgerBlack, badgerRedOnWhite, linesOnWhite from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.link {
  composes: fontM from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  text-decoration: none;
  color: inherit;
  padding: 0px 0px 20px 0px;
  display: block;
}

.linkTitle {
  display: inline;
}

.linkTitle p {
  display: inline;
}

.linkEntry {
  display: flex;
  flex-direction: column;
}

.linkAuthor {
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../css/typography/_fonts.css";
  color: badgerRedOnWhite;
  border-bottom: 1px solid badgerRedOnWhite;
}

.publishTime {
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../css/typography/_fonts.css";
}

.category {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  text-transform: uppercase;
  color: badgerRedOnWhite;
}

.linkTitle p:hover {
  border-bottom: 2px solid badgerRedOnWhite;
}

.excerpt {
  composes: lightSerif from "../../../../css/typography/_fonts.css";
  composes: fontS2 from "../../../../css/typography/_fonts.css";
}

@media mediumScreen {
  .link {
    padding: 20px 0 40px 0;
  }

  .linkTitle {
    flex-basis: 800px;
  }

  .authorTitle {
    margin-left: 100px;
    width: 250px;
    display: block;
  }
}

@media largeScreen {
  .authorTitle {
    margin-left: 200px;
    width: 150px;
  }
}
