@value badgerBlack, badgerRedOnWhite, badgerRedOnBlack from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.link {
  composes: fontM from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  text-decoration: none;
  color: inherit;
  padding: 10px 0px 30px 0px;
  display: block;
}

.linkTitle {
  display: inline;
  padding-bottom: 20px;
}

.linkTitle p {
  display: inline;
}

.linkEntry {
  display: flex;
  flex-direction: column;
}

.linkAuthor {
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../css/typography/_fonts.css";
  color: badgerRedOnWhite;
  border-bottom: 1px solid badgerRedOnWhite;
}

.linkAuthorBlack {
  color: badgerRedOnBlack;
  border-bottom: 1px solid badgerRedOnBlack;
}

.publishTime {
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../css/typography/_fonts.css";
}

.category {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  text-transform: uppercase;
  color: badgerRedOnWhite;
}

.linkTitle p:hover {
  border-bottom: 2px solid badgerRedOnWhite;
}

.linkTitleBlack p:hover {
  border-bottom: 2px solid badgerRedOnBlack;
}

.excerpt {
  composes: lightSerif from "../../../../css/typography/_fonts.css";
  composes: fontS2 from "../../../../css/typography/_fonts.css";
}

.authorTitle {
  padding-bottom: 10px;
}

@media mediumScreen {
  .linkAuthor {
    composes: fontXS from "../../../../css/typography/_fonts.css";
  }

  .publishTime {
    composes: fontXS from "../../../../css/typography/_fonts.css";
  }
}

@media largeScreen {
  .linkTitle {
    composes: fontStaticM from "../../../../css/typography/_fonts.css";
  }
}
