@value badgerWhite, badgerBlack from "../../../css/_colors.css";
@value mediumScreen, contentMaxWidth from "../../../css/_sizes.css";

.brieContainer {
  padding: 30px 20px 40px 20px;
  composes: dividerWhite from "../../../css/_divider.css";
  background-color: badgerWhite;
  text-align: center;
}

.heading {
  composes: fontL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  max-width: 1120px;
  margin: 0px auto;
  color: badgerBlack;
}

.brie {
  margin: 30px auto;
  display: block;
  max-width: 80%;
}

.featureBtn {
  composes: primaryButton from "../../../css/_links.css";
}

@media mediumScreen {
  .brieContainer {
    padding: 60px 20px 70px 20px;
  }
  .brie {
    margin: 60px auto;
    max-width: 650px;
  }
  .featureBtn {
    display: inline-block;
  }
}

@media largeScreen {
  .brie {
    max-width: 800px;
  }
}
