@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@value badgerBlack, badgerWhite, badgerRed, badgerRedOnWhite, scorpian, cainYellow, cainYellowFaded from "../../css/_colors.css";
@value contentMaxWidth, largeScreen, mediumScreen, smallScreen from "../../css/_sizes.css"; 

.shareThymeSlice {
  background: #0c5c56;
  min-height: 200px;
  width: 100%;
  max-width: 612px;
  margin: auto;
  position: relative;
}

/* TODO: Import raleway correctly */
.shareThymeSlice h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 210px;
}

.shareThymeSlice a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  border-radius: 7px;
  background-color: #fcab02;
  padding: 12px 0;
  display: block;
  margin: auto;
  width: 142px;
  height: 40px;
}

.shareThymeLogo {
  height: 36px;
  width: 230px;
  margin-bottom: 18px;
}

.shareThymeSlice h3:before {
  display: block;
  content: '';
  background: #ffffff;
  height: 3px;
  width: 38px;
  margin-bottom: 13px;
}

.shareThymeImage {
  display: none;
}

.shareThymeContent {
  max-width: 280px;
  margin: auto;
}

@media mediumScreen {
  .shareThymeImage {
    display: block;
  }

  .shareThymeContent {
    max-width: 245px;
    margin: initial;
    display: inline-block;
    margin-right: 70px;
  }

  .shareThymeSlice a {
    margin: initial;
  }

  .shareThymeSlice picture {
    display: inline-block;
  }
}