@value badgerBlack, badgerWhite, badgerRed, badgerRedOnWhite, scorpian, cainYellow, cainYellowFaded from "../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen from "../../../css/_sizes.css";

.timelineSlice {
  padding: 40px 0;
  border-bottom: badgerBlack 1px solid;
  margin-bottom: 18px;
}

@media smallScreen {
}

@media mediumScreen {
}

@media largeScreen {
}
