/* Refactored from Website Next
*  TODO: Stop using variables/breakpoints
*/

@value mediumScreen, largeScreen from "../../css/_sizes.css";

.bannerContainer {
  text-align: center;
  margin-top: 20px;
}

.image {
  width: 320px;
}

@media mediumScreen {
  .image {
    width: 690px;
  }
}

@media largeScreen {
  .image {
    width: 920px;
  }
}
