@value badgerBlack from "../../../css/_colors.css";

.h2 {
  composes: fontM from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
  color: badgerBlack;
}

.carousel {
  overflow-x: scroll;
  white-space: nowrap;
  height: 380px;
}