.wrapper {
  margin: 0 auto 20px;
  display: flex;
  position: relative;
  transform: translateX(calc((-740px + 100vw) / 2));
  width: 700px;
  justify-content: space-between;
  align-items: flex-start;
  transition: transform 0.2s ease-in-out;
}

.wrapperLeft {
  composes: wrapper;
  transform: translateX(calc((-740px + 100vw) / 2 + 240px));
}

.wrapperRight {
  composes: wrapper;
  transform: translateX(calc((-740px + 100vw) / 2 - 240px));
}

.controls {
  display: flex;
  justify-content: center;
}

.controlsLabel {
  composes: visuallyHidden from '../../../../../css/_accessibility.css';
}

.controlsInput {
  visibility: hidden;
  display: block;
}

.fakeControl {
  border-radius: 50%;
  background-color: lightgrey;
  width: 10px;
  height: 10px;
  display: block;
  cursor: pointer;
}

.fakeControlActive {
  background-color: grey;
}

.img {
  max-height: 400px;
}

.leftImg {
  composes: img;
}

.middleImg {
  composes: img;
}

.rightImg {
  composes: img;
}

@media (min-width: 700px) {
  .controls {
    display: none;
  }

  .wrapper {
    transform: translateX(0);
    width: 100%;
  }

  .img {
    width: 32%;
    max-height: none;
  }
}

@media (min-width: 881px) {
  .wrapper {
    transform: translateX(-75px);
    width: 800px;
  }

  .img {
    max-height: none;
    width: 32%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    transform: translateX(-260px);
    width: 1160px;
  }
}
