@value scorpian, badgerBlack, badgerWhite, cainYellow from "../../css/_colors.css";

.MBPLP {
  font-family: 'ProximaNova-light', sans-serif;
  background: badgerBlack;
  color: badgerWhite;
}

.mainContent {
  padding: 30px 34px;
}

.header {
  height: 130px;
  position: relative;
}

.headerLogo {
  font-family: 'ProximaNova-Bold', sans-serif;
  width: 100px;
  font-size: 20px;
  color: badgerBlack;
}

.headerLogo span:nth-child(2) {
  margin-left: 20px;
}

.headerLogo span {
  display: inline-block;
  width: 80px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background: #ffed2e;
}

.contentText {
  width: 100%;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 60px;
}

.contentHeaderText {
  width: 100%;
  color: cainYellow;
  font-size: 22px;
  line-height: 1.4em;
  margin-bottom: 60px;
}

.inlineLink {
  font-family: 'ProximaNova-Bold', sans-serif;
  text-decoration: underline;
  color: badgerWhite;
}

.inlineLink:hover {
  color: cainYellow;
}

.contentText strong,
.contentHeaderText strong {
  font-family: 'ProximaNova-Bold', sans-serif;
}

.contentText p {
  margin-bottom: 18px;
}

.contentText p:last-child {
  margin-bottom: 0;
}

h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #ffed2e;
  font-size: 25px;
  margin-bottom: 15px;
}

.MBPLPForm {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 18px;
  margin-bottom: 60px;
}

.MBPLPForm label {
  display: block;
  margin-bottom: 10px;
}

.MBPLPForm input[type='text'] {
  font-family: 'ProximaNova-Light', sans-serif;
  padding: 12px;
  color: badgerWhite;
  height: 52px;
  width: 100%;
  margin-bottom: 24px;
  background: #363636;
  border: 1px cainYellow solid;
}

.MBPLPFormConsent {
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 16px;
}

.MBPLPFormConsent input[type='checkbox'] {
  float: left;
  margin-right: 8px;
  padding-left: 0;
  appearance: none;
  outline: none;
}

.MBPLPFormConsent input[type='checkbox']::before {
  content: '';
  display: block;
  background: white;
  height: 16px;
  width: 16px;
}

.MBPLPFormConsent input[type='checkbox']:checked::before {
  content: '\2713';
  background: #4a89f5;
  color: white;
  text-align: center;
}

.headerAnchor {
  font-family: 'ProximaNova-Bold', sans-serif;
  display: block;
  text-align: center;
  font-size: 18px;
}

.MBPLPForm input[type='submit'],
.headerAnchor {
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  color: badgerBlack;
  background: linear-gradient(220deg, transparent 6%, cainYellow 7%);
  height: 40px;
  width: 150px;
  border: none;
  line-height: 42px;
  outline: none;
}

.MBPLPForm input[type='submit']:hover,
.MBPLPForm input[type='submit']:disabled,
.headerAnchor:hover {
  background: linear-gradient(220deg, transparent 6%, scorpian 7%);
}

.MBPLPConsultants {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100vw;
  max-width: contentMaxWidth;
}

.MBPLPConsultant {
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 18px;
  width: 120px;
  white-space: nowrap;
  margin-right: 50px;
  color: badgerWhite;
  margin-bottom: 20px;
}

.MBPLPConsultant:hover .MBPLPConsultantLink {
  border-bottom: 2px solid badgerRedOnBlack;
}

.MBPLPConsultant img {
  width: 100%;
  display: block;
  margin-bottom: 8px;
}

.MBPLPConsultantRole {
  white-space: initial;
}

.MBPLPConsultantLink {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  display: inline;
  color: cainYellow;
  position: relative;
}

.MBPLPConsultantArrow {
  width: 10px;
  margin-left: 6px;
}

.MBPLPConsultantLink:hover {
  border-bottom: 2px solid badgerRedOnBlack;
}

.footer {
  font-family: 'ProximaNova-Light', sans-serif;
  padding: 30px 34px 50px;
  background: #363636;
  color: badgerWhite;
  font-size: 12px;
  line-height: 1.4em;
}

.footerText {
  margin-bottom: 38px;
  padding-bottom: 38px;
  border-bottom: 1px solid badgerWhite;
}

.footerText:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.sallyIcon {
  margin: 0 auto 20px;
  height: 65px;
  width: 65px;
  background: badgerWhite;
  border-radius: 50%;
  position: relative;
}

.sallyIcon svg {
  height: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-44%, -50%);
}

.poweredBy {
  cursor: pointer;
  outline: none;
  border: none;
}

.poweredBy h3 {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: cainYellow;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
