{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-assign",
    "transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    "transform-flow-strip-types",
    "transform-export-extensions"
  ]
}
