/*
* This component is ported from Website Next and is meant to be
* used only by Jobs and Events components
*/


/*
 * Typography
 *
 * Provide a set of base styles for styling content elements
 *
 * Using tag selectors is considered bad practice. The only reason we
 * have these here is so that we can style blocks of html from external
 * services. We mitigate the risk of leakage by scoping them to the typography
 * namespace.
 */

@value font, red, turquoise from "../variables/colors.css";
@value badgerBlack, badgerRed from "../../../../site/css/_colors.css";
@value default, hero from "../fonts/style.css";

.typography {}

.a,
.typography a {
  color: badgerBlack;
  border-bottom: 1px solid badgerRed;
  transition: all 0.2s ease;
}

.a:hover,
.typography a:hover {
  color: badgerRed;
}

.p,
.typography p {
  color: font;
  font-family: default;
  margin: 1em 0;
  line-height: 1.35;
}

.h1,
.typography h1 {
  color: font;
  font-family: hero;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.3em;
  margin: 0 0 0.6em;
}

.h2,
.typography h2 {
  color: badgerBlack;
  font-family: hero;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 0.6em;
}

.h3,
.typography h3 {
  color: font;
  font-family: default;
  font-weight: normal;
  font-size: 1.375em;
  line-height: 1.35em;
  margin: 0 0 0.8em;
}

.aBold {
  color: font;
  text-decoration: none;
  font-weight: bold;
}

.aBold:hover {
  color: red;
}
