@value badgerWhite, badgerBlack, badgerRed, linesOnWhite from '../../../../css/_colors.css';

.caseStudyContainer {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  background-color: badgerWhite;
}

.headerContainer {
  width: 100%;
  height: 310px;
  position: relative;
  background-color: #abc9c1;
  margin-bottom: 10px;
}

.headerImage {
  position: absolute;
  top: 0;
  left: -30px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.techGraphImage {
  max-width: 100%;
  height: auto;
}

.leftOutcome {
  width: 120px;
  position: absolute;
  bottom: 13px;
  left: 20px;
}

.rightOutcome {
  text-align: right;
  width: 120px;
  position: absolute;
  top: 38px;
  right: 20px;
}

.rightOutcome .percentage:after {
  position: absolute;
  content: "";
  display: inline-block;
  left: -2px;
  bottom: 24px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: badgerBlack;
}

.leftOutcome .percentage:after {
  position: absolute;
  content: "";
  display: inline-block;
  right: -2px;
  bottom: 24px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: badgerBlack;
}

.percentage {
  composes: fontM from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  display: block;
  border-bottom: 1px dashed badgerBlack;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.outcomeDescription {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  font-size: 16px;
}

.contentContainer {
  padding: 20px 20px 20px;
}

.mainTitle {
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.title {
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.redTitle {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  display: block;
  color: badgerRed;
}

.secondaryTitle {
  composes: fontS2 from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.paragraph {
  margin-bottom: 30px;
}

.list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 30px;
}

.contactBox {
  background-color: #ededed;
  height: 162px;
  padding: 33px 37px;
  text-align: center;
  margin-bottom: 30px;
}

.contactBox__heading {
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.contactBox__button {
  composes: smallButton from "../../../../css/_links.css";
}

.whatWeDid {
  background-color: #fff;
  padding: 20px;
}

.whatWeDid__heading {
  composes: fontS from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
}

.whatWeDid__heading:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: linesOnWhite;
  margin: 15px 0;
}

.whatWeDid__element {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed linesOnWhite;
}

.results {
  background-color: #fff;
  padding: 20px;
}

.results__heading {
  composes: fontS from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
}

.results__heading:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: linesOnWhite;
  margin: 15px 0;
}

.results__element {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed linesOnWhite;
  display: flex;
  justify-content: space-between;
  composes: fontS from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
}
