@value mediumScreen, largeScreen from "../../../../../css/_sizes.css";

.imageRight {
  float: right;
  max-width: 39%;
  height: auto;
  padding: 0;
}

.imageLeft {
  float: left;
  max-width: 56%;
  height: auto;
  padding-left: 15%;
  padding-bottom: 3%;
  margin-right: 3%;
}

.allScreensImage {
  max-width: 100%;
  height: auto;
  padding: 0;
  padding-left: 21%;
}

.quote {
  float: right;
  max-width: 47%;
  padding: 0;
  padding-left: 4%;
  padding-bottom: 3%;
}

.quote__content {
  padding-bottom: 15px;
  composes: serif from "../../../../../css/typography/_fonts.css";
  composes: fontM from "../../../../../css/typography/_fonts.css";
}

.quote__attribution {
  composes: boldSansSerif from "../../../../../css/typography/_fonts.css";
  composes: fontS2 from "../../../../../css/typography/_fonts.css";
}

@media mediumScreen {
  .imageRight {
    max-width: 55%;
  }

  .imageLeft {
    padding-left: 0;
  }

  .allScreensImage {
    padding-left: 0;
  }

  .quote {
    max-width: 55%;
    padding-left: 8%;
  }
}

@media largeScreen {
  .imageRight {
    max-width: 39%;
  }

  .allScreensImage {
    padding-left: 21%;
  }

  .quote {
    max-width: 47%;
  }
}
