@value mediumScreen, largeScreen from "../../../../../css/_sizes.css";

.imageRight,
.imageLeft {
  width: 100%;
  height: auto;
  padding: 0;
  padding-bottom: 30px;
}

.allScreensImage {
  margin-top: -20px;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.quote {
  padding: 0;
  margin-bottom: 30px;
}

.quote__content {
  padding-bottom: 15px;
  composes: serif from "../../../../../css/typography/_fonts.css";
  composes: fontM2 from "../../../../../css/typography/_fonts.css";
}

.quote__attribution {
  composes: boldSansSerif from "../../../../../css/typography/_fonts.css";
  composes: fontS2 from "../../../../../css/typography/_fonts.css";
}

@media mediumScreen {
  .imageRight {
    float: right;
    max-width: 55%;
  }

  .imageLeft {
    float: left;
    max-width: 56%;
    padding-bottom: 3%;
    margin-right: 3%;
  }

  .allScreensImage {
    padding: 0 20px;
  }

  .quote {
    float: right;
    max-width: 42%;
    padding-left: 67px;
    margin-bottom: 42px;
  }
}

@media largeScreen {
  .imageRight {
    max-width: 39%;
  }

  .imageLeft {
    padding-left: 15%;
  }

  .allScreensImage {
    padding: 0;
    padding-left: 21%;
  }

  .quote {
    max-width: 47%;
  }
}
