@value white, red, black from "../../css/_colors.css";
@value mediumScreen, maxWidth from "../../css/_breakpoints.css";

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  composes: fontM from "../../css/typography/_fonts.css";
  padding: 30px 0px;
  background-color: white;
}

.caseStudyContainer {
  padding: 30px 20px 30px 20px;
  background-color: white;
}


.caseStudyContainer img {
  width: 100%;
  margin-bottom: 30px;
}

.caseStudyCompany {
  color: red;
  composes: fontXS from "../../css/typography/_fonts.css";
  text-transform: uppercase;
  margin-bottom: 5px;
  width: 100%;
}
.imageContainer {
  font-size: 0;
}


.caseStudyTitle {
  color: black;
  composes: fontM from "../../css/typography/_fonts.css";
  margin-bottom: 15px;
}

.caseStudyDescription {
  color: black;
  composes: fontXS from "../../css/typography/_fonts.css";
}

.inverse {
  background-color: black;
  color: yellow;
  flex-direction: row-reverse;
}
.inverse .caseStudyTitle, .inverse .caseStudyDescription {
  color: white;
}


@media mediumScreen {
  .caseStudyContainer {
    display: flex;
    padding: 70px 20px 80px 20px;
  }
  .camden {
    margin-bottom: -80px;
  }

  .caseStudyTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10%;
  }
  .caseStudyContainer img {
    margin-bottom: 0px;
  }
}
/*
@media largeScreen {
.brie {
max-width: 800px;
}
}
 */
