@value white, red, black from "../../css/_colors.css";
@value mediumScreen, largeScreen, maxWidth from "../../css/_breakpoints.css";
a {
  text-decoration: none;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;
  background-color: white;
}
.mainHeader {
  composes: fontL from "../../css/typography/_fonts.css";
  text-align: center;
}

.subHeader {
  composes: fontS from "../../css/typography/_fonts.css";
  composes: fontSerif from "../../css/typography/_fonts.css";
  font-size: 16px;
}

.caseStudyContainer {
  padding: 30px 20px 30px 20px;
  background-color: white;
}

.caseStudyContainer img {
  width: 100%;
  margin-bottom: 30px;
}

.caseStudyCompany {
  color: red;
  composes: fontXS from "../../css/typography/_fonts.css";
  composes: fontBold from "../../css/typography/_fonts.css";
  text-transform: uppercase;
  margin-bottom: 5px;
  width: 100%;
}

.imageLink {
  font-size: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0px 60px 0px;
  background-color: white;
}

.button {
  composes: primaryButton from "../../css/_links.css";
}

.caseStudyTitle {
  color: black;
  composes: fontM from "../../css/typography/_fonts.css";
  display: inline;
}

.caseStudyTitleContainer {
  margin-bottom: 15px;
}

.caseStudyTitle:hover {
  border-bottom: 2px solid red;
}

.caseStudyDescription {
  color: black;
  composes: fontXS from "../../css/typography/_fonts.css";
}

.inverse {
  background-color: black;
  color: yellow;
  flex-direction: row-reverse;
}

.inverse .caseStudyTitle, .inverse .caseStudyDescription {
  color: white;
}


@media mediumScreen {
  .caseStudyContainer {
    display: flex;
    padding: 70px 20px 80px 20px;
  }

  .camden {
    margin-bottom: -80px;
  }

  .caseStudyTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10%;
  }

  .caseStudyContainer img {
    margin-bottom: 0px;
  }

  .buttonContainer {
    padding: 20px 0px 60px 0px;
  }

  .subHeader {
    font-size: 24px;
  }

  .imageLink {
    font-size: 0;
    display: flex;
    align-items: flex-end;
  }
}
@media largeScreen {
  .mainHeader {
    margin-bottom: 30px;
  }

  .caseStudyTitleContainer {
    margin-bottom: 30px;
  }
}
