@value white, black, cainYellow, cainYellowFaded, daveGreen from "../../../css/_colors.css";
@value mediumScreen, maxWidth from "../../../css/_sizes.css";
@value zindexOverlay from "../../../css/_zindex.css";

.speechBubble {
  width: 280px;
  position: absolute;
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  text-align: left;
}

.speechBubbleText {
  margin: 40px;
  position: absolute;
  display: block;
  z-index: zindexOverlay;
  color: white;
}

.speechBubbleSVG {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.speechBubbleSVG path {
  fill: black;
  stroke: black;
}

.goodNews .speechBubbleSVG path {
  fill: white;
  stroke: white;
}
.goodNews .speechBubbleText {
  color: black;
}

.cain {
  position: relative;
  display: inline-block;
}

.cainPNG {
  margin-top: 170px;
  margin-left: 70px;
  height: 320px;
}

.formContainer, .successContainer, .fatalErrorContainer {
  padding: 30px 20px 40px 20px;
  text-align: center;
}

.formContainer, .fatalErrorContainer {
  composes: dividerYellow from "../../../css/_divider.css";
  background-color: cainYellow;
}

.successContainer {
  composes: dividerGreen from "../../../css/_divider.css";
  background-color: daveGreen;
}

.contactUsForm, .heading {
  max-width: maxWidth;
}

.contactUsForm {
  margin: 0px auto;
}

.heading {
  composes: fontL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  margin: 0px auto 40px auto;
  color: black;
}

.formLabel {
  display: block;
  text-align: left;
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
  margin: 0px 12px 5px 12px;
}

.errorMessage {
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  display: inline-block;
  margin-left: 10px;
}

.inputBox {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";

  padding: 12px;
  background: cainYellowFaded;
  border: 0px;
  border-bottom: dotted 2px black;
}

.hasErrors {
  border: 2px solid black;
}

.submitBtn {
  composes: primaryButton from "../../../css/_links.css";
  background-color: black;
}
