@value white, black, cainYellow, cainYellowFaded from "../../../css/_colors.css";
@value mediumScreen, maxWidth from "../../../css/_sizes.css";

.contactUsContainer {
  padding: 30px 20px 40px 20px;
  composes: dividerYellow from "../../../css/_divider.css";
  background-color: cainYellow;
  text-align: center;
}

.heading {
  composes: fontL from "../../../css/typography/_fonts.css";
  max-width: maxWidth;
  margin: 0px auto 40px auto;
  color: black;
}

.formLabel {
  display: block;
  text-align: left;
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: fontSansSerif from "../../../css/typography/_fonts.css";
  margin: 0px 12px 5px 12px;
}

.inputBox {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: fontSansSerif from "../../../css/typography/_fonts.css";

  padding: 12px;
  background: cainYellowFaded;
  border: 0px;
  border-bottom: dotted 2px black;
}

.submitBtn {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: fontSansSerif from "../../../css/typography/_fonts.css";
  color: white;
  text-align: center;
  padding: 16px 20px 16px 20px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  background-color: black;
  border: 0px;
}
