@value badgerWhite from '../../../../css/_colors.css';
@value badgerBlack from '../../../../css/_colors.css';
@value badgerAccessibleRedOnWhite from '../../../../css/_colors.css';
@value badgerRedOnWhite from '../../../../css/_colors.css';
@value linesOnWhite from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from '../../../../css/_sizes.css';

.caseStudy {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: lightSerif from '../../../../css/typography/_fonts.css';
  font-size: 20px;
  line-height: 27px;
  background-color: badgerWhite;
}

.header {
  width: 100%;
  background-color: #c3cfd7;
}

.header__container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.header__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image {
  width: 100%;
}

.content {
  padding-bottom: 40px;
}

.content__wrapper {
  padding: 20px 20px 20px;
}

.content__mainTitleWrapper {
  padding: 30px 20px 30px;
}

.content__mainTitleWrapper + .overview .quote {
  margin-top: 0;
}
.content__mainTitle {
  composes: fontL from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin: 0;
}

.content__title {
  composes: fontM from '../../../../css/typography/_fonts.css';
  composes: lightSerif from '../../../../css/typography/_fonts.css';
  margin-bottom: 20px;
  margin-top: 50px;
}

.content__title:first-child {
  margin-top: 5px;
}

.content__redTitle {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  display: block;
  color: badgerAccessibleRedOnWhite;
}

.content__secondaryTitle {
  composes: fontS2 from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin-bottom: 20px;
  margin-top: 40px;
}

.content__paragraph {
  margin-bottom: 20px;
}

.content__list {
  list-style-type: disc;
  padding-left: 35px;
  margin-bottom: 30px;
}

.content__list__element {
  padding-left: 8px;
  line-height: 28px;
}

.content__ordered__list {
  list-style-type: disc;
  padding-left: 35px;
  margin-bottom: 30px;
}

.content__ordered__list__element {
  padding-left: 8px;
  line-height: 28px;
}

.listBoxContainer {
  width: 100%;
  margin: 0 auto 25px;
}

.listBox__label {
  composes: sansSerif from '../../../../css/typography/_fonts.css';
  font-size: 16px;
}

.cmsIllustration {
  background: #ded3c3;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.cmsIllustration__image {
  height: auto;
  width: 100%;
  max-width: 691px;
}

.quote {
  width: 75%;
  margin: 22px auto 62px;
}

@media mediumScreen {
  .header__container {
    height: 400px;
  }

  .header__image {
    height: 400px;
    width: auto;
  }

  .content__wrapper {
    padding: 30px 20px 20px;
  }

  .content__paragraph {
    padding-left: 114px;
  }

  .content__secondaryTitle {
    padding-left: 114px;
  }

  .content__mainTitleWrapper {
    padding: 40px 20px 30px;
  }

  .content__title,
  .content__title:first-child {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .overview {
    display: flex;
  }

  .listBoxContainer {
    width: 75%;
    margin-bottom: 0;
  }

  .listBox__item {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .overview {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .quote {
    width: 85%;
  }
}

@media largeScreen {
  .header__container {
    height: 400px;
  }

  .header__image {
    height: 456px;
    width: auto;
  }

  .content {
    max-width: 1400px;
    padding: 20px 120px 60px;
    margin: auto;
  }

  .content__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .content__mainTitleWrapper {
    background-color: badgerWhite;
    padding: 20px 20px 40px;
    margin-top: -96px;
    position: relative;
  }

  .content__paragraph,
  .content__secondaryTitle {
    padding-left: 30%;
    padding-right: 10%;
  }

  .content__title {
    padding-left: 10%;
  }

  .header {
    padding-bottom: 56px;
  }

  .listBoxContainer {
    width: 50%;
    margin-bottom: 0;
  }

  .quote {
    width: 45%;
    margin: 0 auto;
  }
}
