@value badgerWhite, badgerRedOnWhite, badgerBlack from "../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../css/_sizes.css";

.pageHeaderContainer {
  width: 280px;
  margin: 0 auto;
  display: flex;
  composes: dividerWhite from "../../../css/_divider.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: badgerWhite;
  padding-top: 30px;
  padding-bottom: 60px;
}

.left {
  text-align: left;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-left: auto;
}

.flexible {
  display: flex;
}

.pageHeader {
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontXL from "../../../css/typography/_fonts.css";
  color: badgerBlack;
}

.pageSubHeader {
  width: 100%;
  color: badgerRedOnWhite;
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  margin-bottom: 5px;
  margin-top: 10px;
}

.arrow {
  width: 60px;
  height: 40px;
}

.arrowUp {
  composes: arrow;
  transform: rotate(-170deg);
  margin-top: 15px;
  margin-left: auto;
}

.arrowDown {
  composes: arrow;
  transform: rotate(15deg);
  margin-top: auto;
  margin-bottom: 20px;
}

.subtitle {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

@media mediumScreen {
  .pageHeaderContainer {
    width: 610px;
  }

  .arrow {
    width: 140px;
    height: 105px;
  }

  .arrowUp {
    margin-top: auto;
    margin-right: 30px;
  }

  .arrowDown {
    transform: rotate(-5deg);
    margin-left: 40px;
    margin-bottom: 0;
  }

  .subtitle {
    composes: fontS from "../../../css/typography/_fonts.css";
  }
}

@media largeScreen {
  .pageHeaderContainer {
    width: 790px;
  }

  .pageSubHeader {
    margin-top: 15px;
  }

  .arrow {
    width: 183px;
    height: 116px;
  }

  .arrowUp {
    margin-right: 60px;
  }

  .subtitle {
    margin-top: 30px;
  }
}
