@value badgerWhite, badgerRedOnWhite, badgerBlack from "../../../css/_colors.css";
@value mediumScreen from "../../../css/_sizes.css";

.pageHeaderContainer {
  width: 790px;
  margin: 0 auto;
  display: flex;
  composes: dividerWhite from "../../../css/_divider.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: badgerWhite;
  padding-top: 30px;
  padding-bottom: 60px;
}

.pageHeaderContainer .left {
  text-align: left;
  margin-right: auto;
}

.pageHeaderContainer .right {
  text-align: right;
  margin-left: auto;
}

.flexible {
  display: flex;
}

.pageHeader {
  composes: fontXL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
}

.pageSubHeader {
  width: 100%;
  color: badgerRedOnWhite;
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

.arrowUp {
  width: 183px;
  height: 116px;
  transform: rotate(-165deg);
  margin-top: auto;
  margin-right: 60px;
  margin-left: auto;
}

.arrowDown {
  width: 183px;
  height: 116px;
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: 40px;
}

.subtitle {
  width: 790px;
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 1.25;
  margin-top: 30px;
}

@media mediumScreen {
  .pageHeaderContainer {
    width: 610px;
  }

  .pageSubHeader {
    composes: fontS from "../../../css/typography/_fonts.css";
  }

  .arrowUp {
    width: 140px;
    height: 105px;
    margin-right: 50px;
  }

  .arrowDown {
    width: 140px;
    height: 105px;
  }

  .subtitle {
    font-size: 24px;
    width: 610px;
  }
}
