@value mediumScreen from "../../../../css/_sizes.css";

.camdenLogo {
  width: 76px;
}

.imageWrapper {
  composes: imageWrapper from '../shared/styles.css';
}

.imageWrapper img {
  max-width: 260px;
}

.textContainerHeader {
  composes: textContainerHeader from '../shared/styles.css';
  margin-top: 30px;
}

@media mediumScreen {
  .camdenLogo {
    width: 123px;
  }

  .imageWrapper img {
    max-width: 400px;
  }

  .textContainerHeader {
    margin-top: 40px;
  }
}
