@value mediumScreen from "../../../../css/_sizes.css";

.camdenLogo {
  width: 76px;
}

.imageWrapper {
  composes: imageWrapper from '../shared/styles.css';
}

.imageWrapper img {
  max-width: 260px;
}

@media mediumScreen {
  .camdenLogo {
    width: 123px;
  }

  .imageWrapper img {
    max-width: 400px;
  }
}
