@value badgerWhite, badgerBlack, badgerRedOnWhite, linesOnWhite from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from '../../../../css/_sizes.css';

.caseStudy {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: lightSerif from '../../../../css/typography/_fonts.css';
  font-size: 20px;
  line-height: 27px;
  background-color: badgerWhite;
}

.header {
  width: 100%;
  background-color: #4cccc8;
  display: flex;
  justify-content: center;
}

.header__image {
  max-width: 100%;
  max-height: 456px;
  margin: 0 auto;
}

.content {
  padding-bottom: 80px;
}

.content__wrapper {
  padding: 0 20px 0;
}

.content__mainTitleWrapper {
  padding: 30px 0 40px;
}

.content__mainTitleWrapper + h2 {
  margin-top: 0;
  padding-top: 0;
}

.content__mainTitle {
  composes: fontL from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin: 0;
}

.content__title {
  composes: fontM from '../../../../css/typography/_fonts.css';
  composes: lightSerif from '../../../../css/typography/_fonts.css';
  margin: 40px 0 30px;
}

.content__redTitle {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  display: block;
  color: badgerRedOnWhite;
}

.content__secondaryTitle {
  composes: fontS2 from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin-bottom: 0px;
  margin-top: 40px;
}

.content__paragraph,
.content__float {
  margin-bottom: 20px;
}

.tabletImage {
  width: 100%;
}

.devicesImage {
  width: 100vw;
  margin-left: -20px;
  margin-top: 40px;
  display: block;
}

.listBoxContainer {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.listBox {
  margin: 10px 0;
}

.listBox__item:last-child {
  border: none;
  margin-bottom: 0;
}

.videoContainer {
  margin-top: 40px;
}

.videoContainer > span {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media mediumScreen {
  .content__paragraph {
    padding-left: 114px;
  }

  .content__mainTitleWrapper {
    padding: 40px 0 50px;
  }

  .videoContainer {
    margin-left: 114px;
  }

  .content__float {
    width: 40%;
    float: right;
    margin: 5px 0 30px 40px;
  }

  .content__float--left {
    float: left;
    margin: 5px 40px 30px 12%;
  }
  
  .content__float--content-hack {
    margin-bottom: 35px;
  }

  .listBoxContainer {
    margin-left: 64px;
    margin-right: auto;
  }

  .listBox {
    margin: 20px 30px 10px;
  }

  .content__secondaryTitle {
    padding-left: 114px;
  }

  .content__list {
    padding-left: 134px;
  }

  .content__title {
    margin: 50px 0 40px;
  }
}

@media largeScreen {
  .content {
    max-width: 1400px;
    padding: 20px 120px 100px;
    margin: auto;
  }

  .content__mainTitleWrapper {
    background-color: badgerWhite;
    padding: 20px 20px 60px;
    margin-top: -96px;
    position: relative;
  }

  .content__wrapper {
    padding: 0;
  }

  .content__paragraph,
  .content__secondaryTitle {
    padding-left: 30%;
    padding-right: 10%;
  }

  .listBoxContainer {
    margin-left: calc(30% - 50px);
  }

  .devicesImage {
    padding-left: calc(30% - 50px);
    padding-right: 3%;
    width: 100%;
    margin-left: 0;
  }

  .videoContainer {
    margin-left: 30%;
    margin-right: 10%;
  }

  .content__list {
    padding-left: 33.457143%;
    padding-right: 18.2857143%;
  }

  .content__title {
    padding-left: 10%;
    margin: 60px 0 40px;
  }
}
