@value badgerRedOnWhite, badgerAccessibleRedOnBlack from '../../../../css/_colors.css';

.listBox__item:last-child {
  border: none;
  margin-bottom: 0;
}

.listBox__item--outcomes {
  composes: lightSerif from '../../../../css/typography/_fonts.css';
}

.link {
  color: badgerBlack;
  border-bottom: 1px solid badgerRedOnWhite;
}

.link:hover {
  color: badgerRedOnWhite;
  border-bottom: 2px solid badgerAccessibleRedOnBlack;
}

.headerImgWrapper {
  background-color: #577492;
  text-align: center;
}

.headerImg {
  max-height: 456px;
}
