@value badgerRedOnWhite from '../../css/_colors.css';
@value mediumScreen, largeScreen from "../../css/_sizes.css";

blockquote {
  max-width: 690px;
  margin: auto;
}

blockquote:before {
  content: "“";
  vertical-align: top;
  padding-right: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}

blockquote:before, blockquote:after {
  speak: none;
  font-size: 48px;
  color: #000;
  position: relative;
  top: 10px;
}

blockquote:after {
  content: "”";
  vertical-align: top;
  padding-left: 10px;
}

.quotation {
  composes: lightSerif from "../../css/typography/_fonts.css";
  width: 100%;
  color: badgerRedOnWhite;
  text-align: left;
  padding: 0 22px;
  background: #FFF;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.quotation__author {
  composes: fontXS from "../../css/typography/_fonts.css";

  margin-top: 22px;
  margin: auto;
  width: 100%;
  color: #000;
  padding-top: 15px;
}


.quotation__author__name {
  composes: boldSansSerif from "../../css/typography/_fonts.css";
}

.quotation__author__title {
  composes: sansSerif from "../../css/typography/_fonts.css";
}

.quotation__text {
  composes: fontS2 from "../../css/typography/_fonts.css";
  font-size: 24px;
  display: inline;
  max-width: 690px;
}

@media mediumScreen {
  .quotation {
    text-align: center;
  }
  .quotation__text {
    font-size: 30px;
  }
}

@media largeScreen {
  .quotation {
    margin-bottom: 60px;
  }
}
