@value mobile from "../../components/variables/breakpoints.css";

.h1 {
  composes: h1 from "../../components/typography/style.css";
}

.h1 span {
  display: block;
  line-height: 1.3;
}

.h1 span:nth-child(2) {
  text-transform: capitalize;
}

.h2 {
  margin-bottom: 0;
}

.headingLeadLine {
  composes: defaultFont from "../../components/fonts/style.css";
  font-size: 0.5em
}

@media mobile {
  .h1 {
    margin-bottom: 0;
  }
}
