@value badgerRed, cainYellow, daveGreen, stuBlue from "../../css/_colors.css";

.red {
  color: badgerRed;
}

.green {
  color: daveGreen;
}

.blue {
  color: stuBlue;
}

.yellow {
  color: cainYellow;
}

.arrowLink {
  height: 12px;
  margin-left: 6px;
  width: 12px;
}
