.box {
  display: flex;
  align-items: baseline;
}

.numberContainer {
  composes: numberContainer from '../policy-box/style.css';
}

.statementNumber {
  composes: number from '../policy-box/style.css';
  border-bottom: 0;
  top: 0;
}

.policyText {
  composes: policyText from '../policy-box/style.css';
}

.policyText p b {
  font-family: 'ProximaNova-Bold', sans-serif;
}

.policyList {
  composes: policyList from '../policy-box/style.css';
}
