@value badgerWhite, badgerRedOnWhite, badgerBlack, daveGreen, cainYellow, scorpian from "../../css/_colors.css";
@value mediumScreen, largeScreen, contentMaxWidth from "../../css/_sizes.css";

/* ============= Intro Stying ============= */

.headingContainer {
  margin: 40px auto;
  max-width: 395px;
}

.roundTableImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.roundTableImageContainer img {
  width: 300px;
  height: 250px;
}

.leftContainer, 
.rightContainer {
  flex: 1;
}

.mainHeader {
  composes: fontL from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  color: badgerBlack;
}

.latestRoundTableLink {
  composes: primaryButton from "../../css/_links.css";
  margin-top: 40px;
}

.latestRoundTableLinkContainer {
  text-align: center;
}


@media mediumScreen {
  .headingContainer {
    margin-top: 110px;
    margin-bottom: 110px;
  }
  .rightContainer h2 {
    text-align: left;
  }

  .headingContainer {
    max-width: 870px;
  }
}

@media largeScreen {
  .headingContainer {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
/* ============= Webinar signup styling ============= */

.webinar {
  background-color: daveGreen;
  color: badgerBlack;
  composes: serif from "../../css/typography/_fonts.css";
  font-weight: 900;
  composes: dividerGreen from "../../css/_divider.css";
  padding-bottom: 8px;
}

.webinarInner {
  padding: 30px 20px 35px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.webinarText {
  font-size: 30px;
}

.webinarButton {
  min-width: 200px;
  padding: 0 20px;
  margin-top: 30px;
  height: 55px;
  background-color: badgerBlack;
  color: badgerWhite;
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  composes: fontS2 from "../../css/typography/_fonts.css";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.webinarButton:hover {
  background-color: scorpian;
}

@media mediumScreen {
  .latestRoundTableLinkContainer {
    text-align: left;
  }

  .webinarInner {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: none;
    padding: 40px 20px;
  }

  .webinarText {
    padding: 0;
    margin-right: 20px;
  }

  .webinarButton {
    margin: 0 10px;
  }
}

@media largeScreen {
  .webinarInner {
    max-width: contentMaxWidth;
    padding: 50px 0px;
  }
}

/* ============= Past and Future Stying ============= */

.pastAndFuture {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: badgerBlack;
}

.leftBlogs {
  composes: dividerWhiteSmall from "../../css/_divider.css";
  background-color: badgerWhite;
  color: badgerBlack;
}

.rightBlogs {
  composes: dividerBlack from "../../css/_divider.css";
  background-color: badgerBlack;
  color: badgerWhite;
}

@media largeScreen {
  .pastAndFuture {
    flex-direction: row;
    composes: dividerBlackLarge from "../../css/_divider.css";
  }

  .leftBlogs {
    flex: 1 50%;
  }

  .rightBlogs {
    flex: 1 50%;
  }
}

/* ============= Social slice styling ============= */

.social {
  background-color: cainYellow;
  color: badgerBlack;
  composes: serif from "../../css/typography/_fonts.css";
  font-weight: 900;
  composes: dividerYellow from "../../css/_divider.css";
  padding-bottom: 8px;
}

.socialIcon {
  margin: -2px 15px 0 0;
  height: 28px;
}

.socialIcon svg {
  width: 28px;
  height: 28px;
}

.socialIcon svg g {
  fill: badgerWhite;
}

/* ============= Hubspot button styling ============= */

.hubspotBtn a {
  display: inline-block;
  position: relative;
}

.hubspotBtn a:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.hubspotBtn:hover a:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-size: 100% 100%;
}

.readPdfReportWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/read-pdf.png);
  height: 56px;
  width: 228px;
}

.meetupBtnWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/meetup.png);
  height: 53px;
  width: 302px;
}

.webinarBtnWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/webinar.png);
  height: 56px;
  width: 224px;
}

.slackBtnWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/slack.png);
  height: 53px;
  width: 251px;
}

.readPdfReportWrapper {
  margin-top: 30px;
}

.webinarBtnWrapper {
  margin-top: 35px;
}

.slackBtnWrapper, .meetupBtnWrapper {
  margin-top: 9px;
}

.meetupBtnWrapper img {
  height: 53px;
  width: 302px;
}

.slackBtnWrapper img {
  height: 53px;
  width: 251px;
}

.readPdfReportWrapper img {
  height: 56px;
  width: 228px;
}

.webinarBtnWrapper img {
  height: 56px;
  width: 224px;
}

@media mediumScreen {
  .slackBtnWrapper, .meetupBtnWrapper, .readPdfReportWrapper, .webinarBtnWrapper {
    margin-right: 20px;
  }

  .webinarBtnWrapper {
    margin-top: 5px;
  }
}
