@value badgerWhite, badgerRedOnWhite, badgerBlack, daveGreen, cainYellow, scorpian from "../../css/_colors.css";
@value mediumScreen, largeScreen, contentMaxWidth from "../../css/_sizes.css";

/* ============= Intro Stying ============= */

.heading {
  margin: 40px auto;
  max-width: 395px;
  text-align: center;
}

.green {
  display: flex;
  flex-direction: column;
}

.left, 
.right {
  flex: 1;
}

.left {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.roundtableHeading {
  margin-bottom: 4px;
}

.description {
  display: inline-block;
  margin: 0 auto 30px;
  max-width: 480px;
}

.readPdfReportWrapper img {
  height: 45px;
  width: 200px;
}

.readPdfReportWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/read-pdf.png);
  height: 45px;
  width: 200px;
}

@media mediumScreen {
  .green {
    flex-direction: row;
    margin: 0 auto;
  }

  .description {
    margin-left: unset;
  }

  .heading {
    margin-top: 110px;
    margin-bottom: 110px;
  }

  .left {
    padding-right: 8px;
  }

  .right {
    padding-left: 8px;
  }

  .heading {
    max-width: 870px;
  }
}

@media largeScreen {
  .heading {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .roundtableHeading {
    margin-bottom: 12px;
  }

}

/* ============= Webinar signup styling ============= */

.webinar {
  background-color: daveGreen;
  color: badgerBlack;
  composes: serif from "../../css/typography/_fonts.css";
  font-weight: 900;
  composes: dividerGreen from "../../css/_divider.css";
  padding-bottom: 8px;
}

.webinarInner {
  padding: 30px 20px 35px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.webinarText {
  font-size: 30px;
}

.webinarButton {
  min-width: 200px;
  padding: 0 20px;
  margin-top: 30px;
  height: 55px;
  background-color: badgerBlack;
  color: badgerWhite;
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  composes: fontS2 from "../../css/typography/_fonts.css";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.webinarButton:hover {
  background-color: scorpian;
}

@media mediumScreen {
  .webinarInner {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: none;
    padding: 40px 20px;
  }

  .webinarText {
    padding: 0;
    margin-right: 20px;
  }

  .webinarButton {
    margin: 0 10px;
  }
}

@media largeScreen {
  .webinarInner {
    max-width: contentMaxWidth;
    padding: 50px 0px;
  }
}

/* ============= Past and Future Stying ============= */

.pastAndFuture {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: badgerBlack;
}

.leftBlogs {
  composes: dividerWhiteSmall from "../../css/_divider.css";
  background-color: badgerWhite;
  color: badgerBlack;
}

.rightBlogs {
  composes: dividerBlack from "../../css/_divider.css";
  background-color: badgerBlack;
  color: badgerWhite;
}

@media largeScreen {
  .pastAndFuture {
    flex-direction: row;
    composes: dividerBlackLarge from "../../css/_divider.css";
  }

  .leftBlogs {
    flex: 1 50%;
  }

  .rightBlogs {
    flex: 1 50%;
  }
}

/* ============= Social slice styling ============= */

.social {
  background-color: cainYellow;
  color: badgerBlack;
  composes: serif from "../../css/typography/_fonts.css";
  font-weight: 900;
  composes: dividerYellow from "../../css/_divider.css";
  padding-bottom: 8px;
}

.socialIcon {
  margin: -2px 15px 0 0;
  height: 28px;
}

.socialIcon svg {
  width: 28px;
  height: 28px;
}

.socialIcon svg g {
  fill: badgerWhite;
}

/* ============= Hubspot button styling ============= */

.hubspotBtn a {
  display: inline-block;
  position: relative;
}

.hubspotBtn a:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.hubspotBtn:hover a:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-size: 100% 100%;
}

.meetupBtnWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/meetup.png);
  height: 53px;
  width: 302px;
}

.webinarBtnWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/webinar.png);
  height: 56px;
  width: 224px;
}

.slackBtnWrapper:hover a:after {
  background-image: url(./hubspot-btns-images/slack.png);
  height: 53px;
  width: 251px;
}

.webinarBtnWrapper {
  margin-top: 35px;
}

.slackBtnWrapper, .meetupBtnWrapper {
  margin-top: 9px;
}

.meetupBtnWrapper img {
  height: 53px;
  width: 302px;
}

.slackBtnWrapper img {
  height: 53px;
  width: 251px;
}

.webinarBtnWrapper img {
  height: 56px;
  width: 224px;
}

@media mediumScreen {
  .slackBtnWrapper, .meetupBtnWrapper, .webinarBtnWrapper {
    margin-right: 20px;
  }

  .webinarBtnWrapper {
    margin-top: 5px;
  }
}
