@value white, black, red, linesOnWhite from "../../../css/_colors.css";

@value mediumScreen from "../../../css/_breakpoints.css";

.homepageBlogSlice {
  padding: 50px 20px 100px 20px;
  text-align: center;
  background-color: white;
  color: black;
  composes: dividerWhite from "../../../css/_divider.css";
}

.blogSliceTitle {
  composes: fontL from "../../../css/typography/_fonts.css";
}

.blogLink {
  composes: primaryButton from "../../../css/_links.css";
}

.blogLinkList {
  margin: 20px 0 30px 0;
  text-align: left;
}

.blogLinkList li:last-child {
  border-bottom: 1px solid linesOnWhite;
}

@media mediumScreen {
  .blogSliceTitle {
    text-align: left;
  }
}
