<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimal-scale=1.0">
    <title>Red Badger</title>
  </head>
  <body>
    <div class="js-app"></div>
  </body>
</html>
