<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#fc1d42">
    <meta name="theme-color" content="#fc1d42">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fc1d42">
    <meta name="msapplication-TileImage" content="assetsfaviconsmstile-144x144.png">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7838134/7848772/css/fonts.css">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-57x57.png" type="image/png" sizes="57x57">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-60x60.png" type="image/png" sizes="60x60">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-72x72.png" type="image/png" sizes="72x72">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-76x76.png" type="image/png" sizes="76x76">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-114x114.png" type="image/png" sizes="114x114">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-120x120.png" type="image/png" sizes="120x120">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-144x144.png" type="image/png" sizes="144x144">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-152x152.png" type="image/png" sizes="152x152">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-180x180.png" type="image/png" sizes="180x180">
    <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="icon" href="/favicon-192x192.png" type="image/png" sizes="192x192">
    <link rel="icon" href="/favicon-194x194.png" type="image/png" sizes="194x194">
    <title>Red Badger</title>
    <% if (typeof cssPath !== 'undefined') { %><link rel="stylesheet" href="<%= cssPath %>" type="text/css" charset="utf-8"><% } %>
  </head>
  <body>
    <div class="js-app">
      <% if (typeof bodyContent !== 'undefined') { %><%= bodyContent %><% } %>
    </div>
  </body>
</html>
