@value white, black, red, linesOnWhite from "../../../../css/_colors.css";

@value mediumScreen from "../../../../css/_breakpoints.css";

.link {
  composes: fontM from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  text-decoration: none;
  color: black;
  padding: 20px 0;
  border-top: 1px solid linesOnWhite;
  display: block;
}

.linkTitle {
  display: inline;
}

.linkTitle p {
  display: inline;
}

.linkEntry {
  display: flex;
}

.linkAuthor {
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontXS from "../../../../css/typography/_fonts.css";
}

.linkAuthorTitle {
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontXS from "../../../../css/typography/_fonts.css";
  text-transform: uppercase;
}

.category {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  text-transform: uppercase;
  color: red;
}

.authorTitle {
  display: none;
}

@media (hover:hover) {
  .linkTitle p:hover {
    border-bottom: 2px solid red;
  }
}

@media mediumScreen {
  .link {
    padding: 20px 0 40px 0;
  }

  .linkTitle {
    flex-basis: 650px;
  }

  .authorTitle {
    align-self: flex-end;
    margin-left: 200px;
    width: 150px;
    display: block;
  }
}
