@value badgerWhite from "../../../../../site/css/_colors.css";

.h1 {
  composes: h1 from "../../components/typography/style.css";
  text-align: center;
  padding-top: 50px;
  background-color: badgerWhite;
}

.events {
  background-color: badgerWhite;
}

.pastEventsTitle {
  margin-top: 50px;
}
