@value badgerWhite, badgerBlack, daveGreen from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.meetOurTeam {
  padding-top: 25px;
  text-align: center;
  background-color: badgerWhite;
  color: badgerBlack;
  padding: 0 20px;
}

.title {
  composes: fontL from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  margin-bottom: 20px;
}

.subtitle {
  composes: fontS from "../../css/typography/_fonts.css";
  composes: sansSerif from "../../css/typography/_fonts.css";
  padding: 0 25px;
  margin-bottom: 30px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.categoryItem {
  margin: 0 10px;
}

.category {
  composes: fontXS from "../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid daveGreen;
  display: block;
  margin-bottom: 20px;
}

.category.active {
  background-color: daveGreen;
}

a.category, a.category:hover, a.category:visited {
  color: badgerBlack;
}

.paging {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pagingButton {
  composes: fontXS from "../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  padding: 10px 20px;
  background: badgerBlack;
  color: badgerWhite;
}

.pagingButton:not([href]) {
  background-color: badgerBlack;
  opacity: 0.15;
}
