@value badgerRed, badgerWhite, badgerBlack, badgerRedOnWhite from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.meetOurTeam {
  padding-top: 25px;
  text-align: center;
  background-color: badgerWhite;
  color: badgerBlack;
  padding: 0 20px;
}

.title {
  composes: fontL from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  margin-bottom: 20px;
}

.subtitle {
  composes: fontS from "../../css/typography/_fonts.css";
  composes: sansSerif from "../../css/typography/_fonts.css";
  padding: 0 25px;
  margin-bottom: 30px;
}

.subtitle div {
  display: inline;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.categoryItem {
  margin: 0 10px;
}

.category {
  composes: fontXS from "../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  text-transform: uppercase;
  padding: 6px 20px 4px 20px;
  border: 2px solid badgerRed;
  display: block;
  margin-bottom: 20px;
  font-size: 18.66px;
}

.category.active {
  background-color: badgerRed;
}

a.category, a.category:hover, a.category:visited {
  color: badgerBlack;
}

a.category.active {
  color: badgerWhite;
}

@media mediumScreen {
  .subtitle div {
    display: block;
  }
}

@media largeScreen {
  .teamContainer {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
