@value badgerWhite, badgerBlack from "../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../css/_sizes.css";

.testimonials{
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  composes: fontXS from "../../../css/typography/_fonts.css";
  background-color: badgerWhite;
  composes: dividerBlackOnTransparent from "../../../css/_divider.css";
}

.container {
  max-width: 1400px;
  margin: auto;
}

.image{
  width: 100%;
}

.content {
  height: 580px;
}

@media mediumScreen {
  .content {
    width: 100%;
    height: 434px;
  }
}

@media largeScreen {
  .content {
    padding-top: 120px;
    padding-bottom: 0;
    height: 660px;
  }
}
