@value badgerBlack, badgerWhite, badgerRed, linesOnWhite from "../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../css/_sizes.css";

.caseStudyContainer {
  max-width: 1100px;
  justify-content: center;
  margin: 0 auto;
}

.caseStudyContent {
  display: flex;
  max-width: containerMaxWidth;
  width: 100%;
  flex-direction: column-reverse;
  padding-bottom: 20px;
}

.imageLink {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: flex-end;
}

_:-ms-fullscreen, :root .imageLink {
  min-height: 20vh;
}

.imageLink img {
  min-width: 260px;
  width: 70%;
}

.clientLogo {
  width: 180px;
}

.caseStudyTextContainer {
  padding: 0;
  margin-top: 30px;
}

.caseStudyTextContainerHeader {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  margin-top: 30px;
}

.description {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  margin-top: 10px;
}

.readmore {
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  border-bottom: 2px solid badgerRed;
  text-decoration: none;
  color: badgerBlack;
  display: inline-block;
  margin-top: 30px;
}

.links {
  text-align: right;
  border-bottom: 1px solid linesOnWhite;
  padding-bottom: 30px;
}

@media mediumScreen {
  .caseStudyContainer {
    padding-bottom: 60px;
    border-bottom: 1px solid linesOnWhite;
  }

  .caseStudyTextContainer {
    margin-top: 0;
    padding: 0 30px;
    width: 60%;
    position: relative;
    z-index: 1;
  }

  .caseStudyContent {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .imageLink {
    position: absolute;
    right: 0;
    bottom: 40px;
  }

  .imageLink img {
    width: 400px;
  }

  .clientLogo {
    width: 230px;
  }

  .caseStudyTextContainerHeader {
    margin-top: 40px;
  }

  .description {
    margin-top: 20px;
    max-width: 300px;
  }

  .caseStudyContainer {
    padding-top: 70px;
  }

  .links {
    text-align: left;
    border: none;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1050px) {
  .imageLink {
    position: absolute;
    right: 0;
    top: 50px;
  }

  _:-ms-fullscreen, :root .imageLink {
    top: 100px;
  }

  .imageLink img {
    width: 800px;
  }

  .caseStudyTextContainer {
    max-width: 500px;
  }
}
