@value white, black, red, linesOnBlack from "../../../css/_colors.css";

.triangleSlice {
  composes: dividerBlack from "../../../css/_divider.css";
  color: white;
  background-color: black;
  padding: 35px 25px 50px 25px;
  text-align: center;
}

.triangleHeader {
  composes: fontL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  max-width: 300px;
  margin: 0 auto;
}

.triangleThingHeader {
  composes: fontL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  text-align: left;
}

.rightThingsList {
  composes: fontL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  margin-top: 30px;
  max-width: 300px;
  counter-reset: listCounter;
  display: inline-block;
}

.rightThingDescription {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
}

.rightThingsList li:before {
  content: counter(listCounter);
  counter-increment: listCounter;
  float: left;
}

.rightThingsList li {
  margin-bottom: 30px;
}

.rightThingsList img {
  width: 50%;
  height: 50%;
}

.rightThingText {
  margin: 0 0 20px 40px;
}

.rightThingText p {
  text-align: left;
}
