@value badgerBlack, badgerWhite, daveGreen, stuBlue, yoloPurple from "../../../css/_colors.css";
@value maxWidth, largeScreen, mediumScreen from "../../../css/_sizes.css";

.socialSlice {
  background-color: badgerBlack;
}

.cards {
  max-width: 1035px;
  margin-left: 0px;
  display: flex;
}

.card {
  white-space: normal;
  height: 500px;
  background: badgerWhite;
  color: badgerBlack;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
