@value badgerBlack, badgerWhite, daveGreen, stuBlue, yoloPurple from "../../../css/_colors.css";
@value maxWidth, largeScreen, mediumScreen from "../../../css/_sizes.css";

.socialSlice {
  background-color: badgerWhite;
}

.cards {
  max-width: 1035px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.card {
  white-space: normal;
  width: 80%;
  max-width: 350px;
  height: 500px;
  background: badgerWhite;
  color: badgerBlack;
  display: inline-block;
  vertical-align: top;
}
