@value badgerBlack, badgerWhite, daveGreen, stuBlue, yoloPurple from "../../../css/_colors.css";
@value maxWidth, largeScreen, mediumScreen from "../../../css/_sizes.css";

.socialSlice {
  background-color: badgerBlack;
  composes: dividerBlackSocialSlice from "../../../css/_divider.css";
  height: 530px;
}

.desktopView {
  display: none;
}

.mobileView {
  display: block;
}

.card {
  white-space: normal;
  height: 520px;
  background: badgerWhite;
  color: badgerBlack;
  display: inline-block;
  vertical-align: top;
  width: 350px;
}
.noscript{
  display: flex;
  overflow-x: scroll
}

@media mediumScreen{
  .desktopView{
    display: flex;
  }

  .mobileView {
    display: none;
  }
}
