@value badgerBlack, badgerWhite, badgerRed from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.dropdownButton {
  composes: fontS2 from '../../../../css/typography/_fonts.css';
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  position: relative;
  margin: auto;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 10px 0 8px;
  width: 100%;
  margin-bottom: 24px;
}

.dropdownButtonOpen {
  color: badgerWhite;
  background: badgerRed;
  border: solid badgerRed 2px;
  padding: 10px 20px 8px;
  margin-bottom: 20px;
}

.dropdownButtonOpen::after {
  content: '';
  position: absolute;
  top: 45px;
  width: 150px;
  left: calc(50% - 75px);
  height: 2px;
  background: badgerWhite;
}

.dropdownButtonClosed {
  color: badgerBlack;
  background: badgerWhite;
  border: solid badgerRed 2px;
}

.h4Open {
  margin-bottom: 55px;
}

.timeFrameIntro {
  composes: fontS from '../../../../css/typography/_fonts.css';
  composes: sansSerif from '../../../../css/typography/_fonts.css';
  text-align: left;
  margin-bottom: 10px;
}

.h5 {
  composes: fontM from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin-bottom: 12px;
}

.timeframeButton {
  position: absolute;
  right: 15px;
  top: 6px;
}

.timeframeButtonOpen span {
  border: solid badgerWhite;
  border-width: 0 2px 2px 0;
}

.timeframeButtonClosed span {
  border: solid badgerBlack;
  border-width: 0 2px 2px 0;
}
