@value badgerBlack, badgerWhite, badgerRed from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.dropdownButton {
  composes: fontS2 from '../../../../css/typography/_fonts.css';
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  position: relative;
  margin: auto;
  cursor: pointer;
  display: block;
  background: badgerWhite;
  border: solid badgerRed 2px;
  outline: none;
  padding: 10px 0 8px;
  width: 100%;
  margin-bottom: 24px;
}

.timeframeButton {
  position: absolute;
  right: 15px;
  top: 6px;
}
