@value badgerRed, badgerBlack from "../../../../../site/css/_colors.css";

.title {
  composes: heroFont from "../../components/fonts/style.css";
  display: inline;
  font-size: 1.55em;
  text-decoration: none;
  color: badgerBlack;
  line-height: 1.2;
}

.title:hover {
  border-bottom: 1px solid badgerRed;
}

.icon {
  width: 20px;
  display: inline-block;
  margin-left: 6px;
}

.icon img {
  width: 100%;
  display: inline-block;
}

.jobs p {
  line-height: 1.35;
}

.jobs p:first-of-type {
  font-weight: bold;
}
