@value badgerRed, badgerWhite, badgerBlack from "../../../css/_colors.css";
@value zindexOverlay from "../../../css/_zindex.css";
@value mediumScreen from "../../../css/_sizes.css";

.mediumScreenNav a:hover,
.navigation a,
.activeNavLink {
  border-bottom: 2px solid badgerRed;
}

.overlay {
  z-index: zindexOverlay;
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontM from "../../../css/typography/_fonts.css";
  font-weight: bold;
  transition: all 0.2s ease-out;
  background: badgerBlack;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.overlayEnter{
  opacity: 0;
  right: -20px;
}

.overlayLeave{
  opacity: 0;
  right: -20px;
}

.navigation {
  margin-top: 30px;
  text-align: center;
}

.list {
  display: inline-block;
  text-align: left;
  margin: 20px;
}

.list li {
  margin: 0 0 20px 0;
}

.list li a {
  color: badgerWhite;
  text-decoration: none;
}

.menuCloseButton {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  position: absolute;
  top: 5px;
  left: 10px;
  color: badgerWhite;
  text-decoration: none;
  cursor: pointer;
}

.smallScreen {
  width: 100%;
}

.triggerContainer {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.triggerLabel {
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  composes: fontXS from "../../../css/typography/_fonts.css";
  border-bottom: 2px solid badgerRed;
  line-height: 1em;
  cursor: pointer;
  margin-bottom: 6px;
}

.trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.trigger:checked + .overlay {
  left: 0;
  right: 0;
}

@media mediumScreen {
  .smallScreen {
    display: none;
  }
}
