@value badgerBlack from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.clientLogo {
  width: 180px;
}

.imageWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}

.imageWrapper img {
  min-width: 260px;
  width: 70%;
}

.projectBigSmallSnapshot {
  display: block;
}

.projectMediumSnapshot {
  display: none;
}

.textContainer {
  padding: 0;
  margin-top: 30px;
}

@media mediumScreen {
  .clientLogo {
    width: 230px;
  }

  .projectBigSmallSnapshot {
    display: none;
  }

  .projectMediumSnapshot {
    display: block;
  }

  .imageWrapper {
    position: absolute;
    right: 0;
    bottom: 40px;
  }

  .imageWrapper img {
    width: 300px;
  }

  .textContainer {
    margin-top: 0;
    padding: 0 30px;
    width: 60%;
    position: relative;
    z-index: 1;
  }
}

@media screen and (min-width: 800px) {
  .imageWrapper img {
    width: 400px;
  }
}

@media screen and (min-width: 1150px) {
  .projectBigSmallSnapshot {
    display: block;
  }

  .projectMediumSnapshot {
    display: none;
  }

  .imageWrapper {
    position: absolute;
    right: 0;
    top: 20px;
    bottom: auto;
  }

  .imageWrapper img {
    width: 800px;
  }

  .textContainer {
    max-width: 500px;
  }
}
