@value badgerBlack, badgerWhite from "../../css/_colors.css";
@value maxWidth, largeScreen, mediumScreen from "../../css/_sizes.css";

.widthContainer {
  max-width: maxWidth;
  margin-left: auto;
  margin-right: auto;
}

.techSlice {
  composes: dividerBlack from "../../css/_divider.css";
  color: badgerWhite;
  background-color: badgerBlack;
  padding: 30px 20px 40px 20px;
  text-align: center;
}

.heading {
  composes: widthContainer;
  composes: serif from "../../css/typography/_fonts.css";
  composes: fontL from "../../css/typography/_fonts.css";
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.projectsBlerb {
  composes: widthContainer;
  composes: serif from "../../css/typography/_fonts.css";
  composes: fontS from "../../css/typography/_fonts.css";
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.techList {
  composes: widthContainer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.techListItem {
  width: calc(100% / 2);
  text-align: center;
  display: flex;
}

.techItem {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.techLogo {
  max-height: 70px;
}

.techName {
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  margin: 20px 0px 40px 0px;
}

.moreBtn {
  composes: primaryButton from "../../css/_links.css";
}

@media mediumScreen {
  .techSlice {
    padding: 60px 20px 10px 20px;
  }

  .heading {
    margin-bottom: 30px;
  }

  .projectsBlerb {
    composes: serif from "../../css/typography/_fonts.css";
    composes: fontS from "../../css/typography/_fonts.css";
    margin-bottom: 90px;
  }

  .techListItem {
    width: calc(100% / 3);
    margin-bottom: 40px;
  }

  .techName {
    margin: 20px 0 0 0;
  }

  .moreBtn {
    margin: 20px 60px 60px;
    composes: primaryButton from "../../css/_links.css";
  }
}

@media largeScreen {
  .techListItem {
    width: calc(98% / 6);
    margin-bottom: 0;
  }

  .techName {
    margin-top: 40px;
  }

  .moreBtn {
    margin: 60px 0 70px;
  }
}
