{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "globals": {
    "describe" : false,
    "it": false,
    "expect": false,
    "before" : false,
    "beforeEach" : false,
    "after" : false,
    "afterEach" : false
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "guard-for-in": 0,
    "max-len": ["error", { "ignorePattern": "^\\s*describe|it|expect\\(.*\\)", "ignoreUrls": true }],
    "no-unused-vars": [2, {"args": "after-used", "varsIgnorePattern": "^React"}],
    "react/jsx-uses-vars": 2,
  }
}
