@value badgerBlack, badgerWhite, badgerRedOnWhite, linesOnWhite from "../../../../css/_colors.css";
@value mediumScreen, largeScreen, containerMaxWidth from "../../../../css/_sizes.css";

.clientLogo {
  width: 40px;
}

.textContainer {
  composes: textContainer from '../shared/styles.css';
  padding: 0;
  margin: 0;
}

@media mediumScreen {
  .textContainer {
    flex-basis: 100%;
    text-align: center;
  }

  .clientLogo {
    width: 70px;
  }
}
