@import "normalize.css/normalize.css";
@import "reset-css/reset.css";

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
    overflow-x: hidden;
}

button {
  border-radius: 0;
}
