@import "normalize.css/normalize.css";
@import "reset-css/reset.css";
@import "./a11y-day.css";

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
}

html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
}

button {
  border-radius: 0;
}
