@value badgerBlack, badgerWhite, badgerRedOnWhite, linesOnWhite from "../../../../css/_colors.css";
@value mediumScreen, largeScreen, containerMaxWidth from "../../../../css/_sizes.css";

.clientLogo {
  width: 180px;
}

.content {
  composes: content from '../shared/styles.css';
}

.textContainer {
  composes: textContainer from '../shared/styles.css';
  padding: 0;
  margin: 0;
}

.textContainerHeader {
  composes: fontL from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  color: badgerBlack;
  margin-top: 30px;
}

.links {
  composes: links from '../shared/styles.css';
}

@media mediumScreen {
  .links {
    text-align: center;
  }

  .textContainer {
    flex-basis: 100%;
    text-align: center;
  }

  .content {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .clientLogo {
    width: 230px;
  }
}
