@value linesOnWhite from "../../../../../css/_colors.css";
@value mediumScreen, containerMaxWidth from "../../../../../css/_sizes.css";

.container {
  max-width: 1100px;
  justify-content: center;
  margin: 0 auto;
}

.containerNoPaddingBottom {
  composes: container;
}

.content {
  display: flex;
  max-width: containerMaxWidth;
  width: 100%;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

@media mediumScreen {
  .row {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .container {
    padding: 60px 30px;
    border-bottom: 1px solid linesOnWhite;
  }

  .containerNoPaddingBottom {
    padding-bottom: 0;
  }

  .content {
    margin: 0;
    padding: 0;
  }
}
