@value badgerWhite from "../../css/_colors.css";
@value mediumScreen from "../../css/_sizes.css";

.background {
  background-color: badgerWhite;
}

.apply {
  composes: craft paperTear from "../../components/utils/background.css";
}

.noWrap {
  white-space: nowrap;
}

.headerContainer > div {
  padding-top: 24px;
}

.bestCompanyLogo {
  margin: 0 auto;
  width: 120px;
}

.subHeading {
  composes: fontS2 from '../../css/typography/_fonts.css';
  composes: serif from '../../css/typography/_fonts.css';
}

.headerContainer > div > h1{
  margin-bottom: 10px;
}

.bodyPictureContainer {
  display: none;
}

@media mediumScreen {
  .bodyPictureContainer {
    display: block;
    padding-left: 70px;
    padding-top: 1em;
  }
  
  .headerContainer > picture {
    display: none;
  }

  .headerContainer > div {
    padding-top: 0;
  }

  .upperBodyContainer {
    display: flex;
    justify-content: center;
  }
}

@media largeScreen {
  .bodyPictureContainer {
    display: block;
  }
}
