@value badgerWhite from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.background {
  background-color: badgerWhite;
}

.apply {
  composes: craft paperTear from "../../components/utils/background.css";
}

.bestCompanyLogo {
  margin: 0 auto;
  width: 120px;
}

.bodyPictureContainer {
  display: none;
}

@media mediumScreen {
  .bodyPictureContainer {
    display: block;
    padding-left: 70px;
    padding-top: 1em;
  }
  
  .upperBodyContainer {
    display: flex;
    justify-content: center;
    padding: 0 60px;
  }

  .videoContainer {
    padding: 60px;
  }
}

@media largeScreen {
  .vacancyHeader {
    display: block;
    padding-top: 24px;
  }
}
