@value badgerWhite from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.background {
  background-color: badgerWhite;
}

.apply {
  composes: craft paperTear from "../../components/utils/background.css";
}

.bestCompanyLogo {
  margin: 0 auto;
  width: 160px;
}

@media (min-width: 550px) {
  .bodyPictureContainer {
    display: block;
    padding-right: 40px;
    padding-top: 23px;
  }

  .upperBodyContainer {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

@media mediumScreen {
  .bestCompanyLogo {
    margin: 0 auto;
    width: 196px;
  }

  .bodyPictureContainer {
    display: block;
    padding-right: 50px;
    padding-top: 23px;
  }

  .videoContainer {
    padding: 60px;
  }

  .upperBodyContainer {
    padding: 0 60px;
  }
}

@media largeScreen {
  .vacancyHeader {
    display: block;
    padding-top: 24px;
  }
}
