@value badgerWhite, badgerBlack from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.background {
  background-color: badgerWhite;
}

.bestCompanyLogo {
  margin: 0 auto;
  width: 160px;
}

.videoContainer {
  background: badgerBlack;
  color: badgerWhite;
  padding: 40px 60px;
  composes: dividerBlack from "../../css/_divider.css";
}

.video {
  max-width: 960px;
  margin: auto;
}

@media (min-width: 550px) {
  .bodyPictureContainer {
    display: block;
    padding-right: 40px;
    padding-top: 23px;
  }
}

@media mediumScreen {
  .videoContainer {
    padding: 110px 60px;
  }

  .bestCompanyLogo {
    margin: 0 auto;
    width: 196px;
  }

  .bodyPictureContainer {
    display: block;
    padding-right: 50px;
    padding-top: 23px;
  }
}

@media largeScreen {
  .vacancyHeader {
    display: block;
    padding-top: 24px;
  }
}
