@value badgerRedOnWhite from "../../css/_colors.css";

.dateBubble {
  composes: sansSerif from "../../css/typography/_fonts.css";
  color: badgerRedOnWhite;
  text-transform: uppercase;
  min-width: 3em;
  margin-bottom: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.25em;
}

.date {
  font-size: 0.9em;
  line-height: 1.2em;
}

.date, .month, .year {
  display: inline-block;
  margin: 0 2px;
}
