@value mediumScreen, largeScreen from "../../css/_sizes.css";

.prideHeart {
  width: 120px;
  position: absolute;
  top: 73px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media mediumScreen {
  .prideHeart {
    width: 96px;
    margin: 0;
    position: absolute;
    top: 57px;
    left: 372px;
  }
}

@media largeScreen {
  .prideHeart {
    width: 150px;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    top: 10px;
    left: -20px;
  }
}
