@value badgerRed, badgerBlack, grey from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.whatNext {
  composes: dividerGrey from "../../../../css/_divider.css";
  padding: 60px 20px;
  text-align: center;
  background-color: grey;
}

.whatNext__tilesContainer {
  margin: auto;
}

.whatNext__image {
  background-color: #79b0a3;
  width: 100%;
}

.whatNext__caption {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 10px 0;
}

.whatNext__link,
.whatNext__link:hover,
.whatNext__link:active,
.whatNext__link:visited {
  color: badgerBlack;
}

.whatNext__link:hover {
  text-decoration: underline badgerRed;
}

.whatNext__title {
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  padding-bottom: 50px;
  text-align: left;
}

.whatNext__button {
  composes: primaryButton from "../../../../css/_links.css";
}

.whatNext__arrow svg {
  height: 18px;
  margin: 0 10px;
}

.whatNext__tile--financialTimes,
.whatNext__tile--camden {
  display: none;
}

@media mediumScreen {
  .whatNext__tilesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .whatNext__tile {
    width: calc(50% - 10px);
  }

  .whatNext__tile--financialTimes {
    display: block;
  }
}

@media largeScreen {
  .whatNext__tilesContainer {
    max-width: 1400px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .whatNext__tile {
    width: calc(33% - 10px);
  }

  .whatNext__tile--camden {
    display: block;
  }
}
