@value largeScreen from "../../../../../css/_sizes.css";

.shapes {
  position: absolute;
  bottom: -8px;
  z-index: 10;
  height: 100%;
  display: none;
}

@media largeScreen {
  .shapes {
    display: block;
  }
}
