@value mobile from "../variables/breakpoints.css";
@value badgerBlack, badgerRed from "../../../../../site/css/_colors.css";

.eventsListTimelineSection {
  margin-bottom: 50px;
}

.eventsListTimelineSection:last-child {
  margin-bottom: 0;
}

.eventsListTimelineSection h2 {
  margin-bottom: 0;
  font-family: "Sentinel A", "Sentinel B", serif;
}

.eventsListTimelineSection h2.eventTitle {
  text-align: left;
}

.eventsTimelineTitle {
  font-size: 1.5em;
}

.eventsList {
  font-size: 1em;
  margin-top: 0;
  padding-left: 0;
}

.eventItem {
  position: relative;
  list-style-type: none;
}

.eventTitleLink {
  color: badgerBlack;
  text-decoration: none;
  line-height: 30px;
}

.eventTitle {
  composes: h2 from "../../components/typography/style.css";
  font-size: 1.6em;
  text-decoration: none;
  display: inline;
  float: left;
  margin-bottom: 0;
}

.eventTitle span {
  display: inline;
}

.eventTitleLink:hover, .eventTitleLink:active, .eventTitleLink:focus {
  border-bottom: 2px solid badgerRed;
}

.arrow {
  color: badgerRed;
  padding-left: 5px;
}

.eventDescription {
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";
  color: badgerBlack;
  float: left;
  width: 100%;
  margin-top: 10px;
}

.eventLinks {
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";
  composes: cf from "../../components/utils/layout.css";
  margin-bottom: 1em;
}

.mobileHorizontalLine {
  display: block;
  margin: 1.5em 0 0 0;
}

@media mobile {
  .eventsList {
    padding: 0;
  }
}
