@value badgerWhite, badgerRed, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";
@value timelineContainer from "../../../../css/_zindex.css";

.container {
  display: flex;
  justify-content: center;
  z-index: timelineContainer;
}

.navigator{
  width: 80%;
  height: 50px;
  position: absolute;
}
.vericalOffset{

}
.timeline{
  background-color: #CCC;
  color: #CCC;
  height: 2px;
  width: 100%;
  position: relative;
  list-style: none;
}



.timeline button:nth-child(1){
  left: 0%;
}
.timeline button:nth-child(2){
  left: 16%;
}
.timeline button:nth-child(3){
  left: 33%;
}
.timeline button:nth-child(4){
  left: 49%;
}
.timeline button:nth-child(5){
  left: 66%;
}
.timeline button:nth-child(6){
  left: 82%;
}
.timeline button:nth-child(7){
  left: 97%;
}

.fillingLine {
  position: relative;
  height: 2px;
  background-color: badgerRed;
  width: 100%;
  top: -2px;
  left: 0;
  transform-origin: left center;
  transition: width 0.3s ease-in-out;
}

@media mediumScreen{
  .container{
    top: 0px;
    position: relative;
  }

  .navigator{
    width: 50%;
    position: relative;
  }

  .timeline{
    margin-top: 100px;
    
  }
}

@media largeScreen{
  .navigator{
    width: 40%;
  }
}
