@value badgerWhite, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";
@value timelineContainer from "../../../../css/_zindex.css";

.navigator {
  z-index: timelineContainer;
  background: badgerWhite;
}

.container {
  position: relative;
  width: 52%;
  margin: auto;
  top: -10px;
}

.timeline div {
  display: absolute;
}

.timeline div:nth-child(1){
  left: 0%;
}
.timeline div:nth-child(2){
  left: 14%;
}
.timeline div:nth-child(3){
  left: 29%;
}
.timeline div:nth-child(4){
  left: 43%;
}
.timeline div:nth-child(5){
  left: 57%;
}
.timeline div:nth-child(6){
  left: 71%;
}
.timeline div:nth-child(7){
  left: 85%;
}
.timeline div:nth-child(8){
  left: 100%;
}
@media mediumScreen{
  .container{
    width: 233px;
    top: 80px;
  }
}
