@value badgerWhite, badgerRed, badgerBlack, linesOnWhite from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";
@value timelineContainer from "../../../../css/_zindex.css";

.navigator {
  z-index: timelineContainer;
  background: badgerWhite;
}

.container{
  position: relative;
  width: 60%;
  margin: auto;
  top: -10px;
}

.timeline{
  background-color: #CCC;
  color: #CCC;
  height: 2px;
  width: 100%;
  position: relative;
  list-style: none;
}

.timeline button:nth-child(1){
  left: 0%;
}
.timeline button:nth-child(2){
  left: 16%;
}
.timeline button:nth-child(3){
  left: 33%;
}
.timeline button:nth-child(4){
  left: 49%;
}
.timeline button:nth-child(5){
  left: 66%;
}
.timeline button:nth-child(6){
  left: 82%;
}
.timeline button:nth-child(7){
  left: 100%;
}

.fillingLine {
  position: relative;
  height: 2px;
  background-color: linesOnWhite;
  width: 100%;
  top: -2px;
  left: 0;
  transform-origin: left center;
  transition: width 0.3s ease-in-out;
}

@media mediumScreen{
  .container{
    position: absolute;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    top: 80px;
  }
}
