@value badgerBlack, badgerWhite, grey from "../../css/_colors.css";
@value fontXS, fontS2, fontM, fontM2, fontXS, fontXL, fontL, serif, sansSerif, boldSansSerif from "../../css/typography/_fonts.css";
@value mediumScreen, containerMaxWidth, largeScreen from "../../css/_sizes.css";
@value bodyLink from "../../css/_links.css";
@value divider, dividerGrey from "../../css/_divider.css";

* {
  box-sizing: border-box;
}

body {
  background-color: badgerWhite;
}

.bns__headerContainer {
  max-width: containerMaxWidth;
  margin: 0 auto;
  padding: 2.5em 20px 0;
}

.bns__headerHeadline {
  composes: serif;
  composes: fontM;
  margin-bottom: 0.683em;
}

.bns__headerContent {
  composes: boldSansSerif;
  composes: fontXS;
}

.bns__browsers {
  max-width: containerMaxWidth;
  padding: 2.5em 0;
}

.bns__browsers ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bns__browsers li {
  width: 50%;
  margin-bottom: 1.25em;
}

.bns__browsers li div  {
   max-width: 100px;
   margin: 0 auto .5em;
}


.bns__browsers img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  width: 100%;
}


.bns__browserLink {
  text-align: center;
  display: block;
  margin: 0 auto;
  composes: boldSansSerif;
  composes: fontM2;
  color: badgerBlack;
}

.bns__footer {
  composes: dividerGrey;
  background-color: grey;
  padding: 2.5em 20px 3.125em;
}

.bns__footerWraper {
  max-width: containerMaxWidth;
  margin: 0 auto;
}


.bns__footerHeadLine {
  composes: serif;
  composes: fontM;  
  margin-bottom: 0.833em;
}

.bns__footerContent {
  composes: boldSansSerif;
  composes: fontXS; 
}

.bns__footerLink{
  composes: bodyLink;
}
