@value badgerBlack, badgerWhite from "../../css/_colors.css";
@value fontS2, fontM, fontM2, fontXS, serif, sansSerif from "../../css/typography/_fonts.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3.75rem;
}

a {
  color: black;
}

header p {
  font-weight: 600;
  max-width: 33%;
  font-size: 2.25rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  width: 25%;
}

li div  {
   max-width: 195px;
   margin: 0 auto;
}


img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  width: 100%;
}


li a {
  text-align: center;
  display: block;
  margin-top: 1em;
}

footer h2 {
  font-size: 3rem;  
}

footer p {
  margin: 0;
  line-height: 1.25;
  font-size: 2.25rem;
}

footer a {
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  
  header h1 {
    max-width: 50%;
  }
  
  header p {
    font-weight: 600;
    max-width: 75%;
    font-size: 1.875rem;
  }
  
  ul {
    padding: 0 4em;
  }
  
  li {
    width: 50%;
    margin-bottom: 5.6875em;
  }
  
  li div {
    max-width: 180px;
  }
  
  footer h2 {
    margin-top: .5em;
  }
  
  footer p {
    margin: 0;
    line-height: 1.25;
    font-size: 1.875rem;
  }
  
}

@media screen and (max-width: 375px) {

  header h1 {
    font-size: 2.5rem
  }
  
  header p {
    font-size: 1.75rem;
  }
  
 ul {
    padding: 0 2em;
  }
  
  li {
    width: 50%;
    max-width: 7.25em;
    margin-bottom: 5.6875em;
  }
  
 li div {
    max-width: 116px;
 }
  
  
  footer h2 {
    margin-top: .5em;
    font-size: 2.5rem;
  }
  
  footer p {
    margin: 0;
    line-height: 1.25;
    font-size: 1.5rem;
  }
}
