@value badgerWhite, badgerBlack, badgerRedOnWhite, badgerAccessibleRedOnBlack, linesOnWhite from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from '../../../../css/_sizes.css';

.carDayTime {
  background: linear-gradient(
    to bottom,
    #27a1cb 0%,
    #27a1cb 57%,
    #599bb9 57%,
    #00805c 58%,
    #00805c 100%
  );
  display: flex;
  justify-content: center;
}

.carSunset {
  padding-bottom: 30px;
}

.carSunset,
.carDayTime img {
  width: 100%;
}

.picture {
  padding-bottom: 30px;
}

.link {
  color: badgerBlack;
  border-bottom: 1px solid badgerRedOnWhite;
}

.link:hover {
  color: badgerRedOnWhite;
  border-bottom: 2px solid badgerAccessibleRedOnBlack;
}
