@value badgerWhite, badgerBlack, badgerRedOnWhite, linesOnWhite from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from '../../../../css/_sizes.css';

.carDayTime {
  background: linear-gradient(
    to bottom,
    #599bb9 0%,
    #599bb9 57%,
    #599bb9 57%,
    #357a5f 58%,
    #357a5f 100%
  );
  display: flex;
  justify-content: center;
}

.carSunset {
  padding-bottom: 30px;
}

.carSunset,
.carDayTime img {
  width: 100%;
}

.picture {
  padding-bottom: 30px;
}
