@value black, white, daveGreen from "../../../css/_colors.css";
@value mediumScreen, largeScreen, inputHeight from "../../../css/_sizes.css";

.newsletter {
  composes: dividerBlack from "../../../css/_divider.css";
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

.submitted {
  composes: dividerGreen from "../../../css/_divider.css";
  background-color: daveGreen;
  color: black;
}

.title {
  composes: fontM from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
  max-width: 280px;
  margin: 0 auto 10px;
}

.subTitle {
  composes: fontS from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
  margin-bottom: 40px;
}

.form {
  text-align: left;
}

.formLabel {
  composes: fontS from '../../../css/typography/_fonts.css';
  composes: sansSerif from '../../../css/typography/_fonts.css';
  display: block;
  margin-bottom: 5px;
}

.formInput {
  composes: fontS from '../../../css/typography/_fonts.css';
  composes: sansSerif from '../../../css/typography/_fonts.css';
  line-height: inputHeight;
  height: inputHeight;
  padding: 0 17px;
  border: none;
  width: 100%;
  margin-bottom: 30px;
}

.submitButton {
  composes: primaryButton from '../../../css/_links.css';
  margin: 0 auto 10px;
  display: block;
}

.submitted .submitButton {
  background-color: black;
}

.link {
  composes: primaryButton from '../../../css/_links.css';
}

@media mediumScreen {
  .title {
    margin: 20px auto;
    max-width: 480px;
  }

  .subTitle {
    max-width: 585px;
    margin: 0 auto 60px;
  }

  .form {
    text-align: center;
  }

  .formLabel {
    display: inline-block;
    margin-right: 30px;
  }

  .submitted .formLabel {
    width: 85px;
    margin-left: -115px;
  }

  .formInput {
    width: 400px;
  }

  .submitButton {
    display: inline-block;
    position: relative;
    top: 1px;
    padding-bottom: 1px;
    margin: 10px auto 40px;
  }
}

@media largeScreen {
  .formLabel {
    line-height: inputHeight;
    vertical-align: top;
  }

  .submitted .formLabel {
    width: 105px;
    margin-left: -130px;
    text-align: left;
  }

  .formInput {
    vertical-align: text-bottom;
  }

  .submitButton {
    margin-top: 0;
    height: inputHeight;
    vertical-align: top;
    position: static;
  }

  .submitted .submitButton {
    margin-top: 10px;
  }
}
