@value smallScreen from "../../css/_sizes.css";
@value badgerBlack, badgerRedOnWhite from "../../css/_colors.css";

.eventsListTimelineSection {
  margin-bottom: 50px;
}

.eventsListTimelineSection:last-child {
  margin-bottom: 0;
}

.eventsListTimelineSection h2 {
  margin-bottom: 0;
  font-family: 'Sentinel A', 'Sentinel B', serif;
  font-weight: 800;
}

.eventsListTimelineSection h2.eventTitle {
  text-align: left;
}

.eventsTimelineTitle {
  font-size: 1.5em;
}

.eventsList {
  font-size: 1em;
  margin-top: 0;
  padding-left: 0;
}

.eventItem {
  position: relative;
  list-style-type: none;
}

.eventTitleLink {
  color: badgerBlack;
  text-decoration: none;
  line-height: 30px;
}

.eventTitle {
  composes: serif from '../../css/typography/_fonts.css';
  composes: fontM from '../../css/typography/_fonts.css';
  display: inline;
  float: left;
  margin-bottom: 0;
}

.eventTitle span {
  display: inline;
}

.eventTitleLink:hover,
.eventTitleLink:active,
.eventTitleLink:focus {
  border-bottom: 2px solid badgerRedOnWhite;
}

.arrow {
  color: badgerRedOnWhite;
  padding-left: 5px;
}

.eventDescription {
  composes: sansSerif from '../../css/typography/_fonts.css';
  color: badgerBlack;
  float: left;
  width: 100%;
  margin-top: 10px;
  line-height: normal;
}

.eventLinks {
  composes: sansSerif from '../../css/typography/_fonts.css';
  composes: cf from '../utils/layout.css';
  margin-bottom: 1em;
}

.mobileHorizontalLine {
  display: block;
  margin: 1.5em 0 1.5em 0;
}

@media smallScreen {
  .eventsList {
    padding: 0;
  }
}
