@value colWidth: calc(100% / 12);
@value white from "../../../css/_colors.css";
@value largeScreen from "../../../css/_sizes.css";

.slice {
  composes: dividerWhite from "../../../css/_divider.css";
  padding: 40px 22px 30px 22px;
  background-color: white;
}

.heading {
  composes: fontL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  text-align: center;
  margin: 0 auto 24px auto;
  max-width: maxWidth;
}

.content {
  max-width: maxWidth;
  margin: 0 auto 0 auto;
}

.leanImageWrapper {
  text-align: center;
}

.leanImage {
  max-width: 80%;
  width: 300px;
}

.point {
  composes: fontStaticM from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
  margin-top: 20px;
}

.bold {
  composes: serif from "../../../css/typography/_fonts.css";
}

@media largeScreen {
  .slice {
    padding-bottom: 60px;
  }

  .heading,
  .content {
    max-width: 1160px;
  }

  .heading {
    width: calc(colWidth * 10);
  }

  .content {
    width: calc(colWidth * 8);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .pointsWrapper,
  .leanImageWrapper {
    width: 49%;
  }

  .point {
    margin-top: 30px;
    line-height: 1.5;
  }
}
