@value badgerRed, badgerBlack, badgerWhite, cainYellow, daveGreen, stuBlue from "../../css/_colors.css";
@value largeScreen, mediumScreen from "../../css/_sizes.css";

.subHeading {
  composes: serif from "../../css/typography/_fonts.css";
  color: badgerBlack;
  display: inline-block;
  font-size: 24px;
  line-height: 1.2em;
  margin: 20px 0 8px;
  padding: 1px 15px;
}

.blueSubHeading {
  composes: subHeading;
  background-color: stuBlue;
}

.greenSubHeading {
  composes: subHeading;
  background-color: daveGreen;
}

.yellowSubHeading {
  composes: subHeading;
  background-color: cainYellow;
}

.redSubHeading {
  composes: subHeading;
  background-color:badgerRed;
  color: badgerWhite;
}

.description {
  composes: lightSerif from "../../css/typography/_fonts.css";
  color: #F8F8F8;
  font-size: 20px;
  line-height: 1.2em;
}

a {
  position: relative;
}

a .description:hover {
  border-bottom: 2px solid badgerRed;
}

@media mediumScreen {
  .subHeading {
    margin-top: 0;
  }
}

@media largeScreen {
  .subHeading {
    display: block;
    padding: 1px 0;
    text-align: center;

  }
}
