@value badgerRed, badgerWhite, badgerBlack from "../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../css/_sizes.css";

.arrow svg {
  height: 15px;
  margin: 0 10px;
}

.homepageTopSlice {
  padding: 50px 20px 100px 20px;
  text-align: center;
  background-color: badgerWhite;
  color: badgerBlack;
}

.badgerSlogan {
  composes: fontXL from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.lastWord {
  display: inline;
  white-space: nowrap;
  position: relative;
}

.lastWord i {
  width: 22px;
  display: inline-block;
}

.sloganLink {
  color:badgerBlack;
  border-bottom: 0;
}

.sloganLink:hover {
  border-bottom:0;
}

.sloganLink:hover .sloganUnderline {
  border-bottom: 2px solid badgerRed;
}

.sloganLink:hover .sloganUnderline i {
  border-bottom:0;
}

.sloganDescription {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
}

@media mediumScreen {
  .homepageTopSlice {
    text-align: left;
    padding: 50px 100px 100px 120px;
  }
}

@media largeScreen {
  .arrow svg {
    height:20px;
  }

  .homepageTopSlice {
    text-align: center;
    padding: 160px 0 230px 0;
  }

  .sliceContainer {
    max-width: 830px;
    display: inline-block;
    text-align: left;
  }
}
