/*
### Example

  span {
    composes: visuallyHidden from "../../css/_accessibility.css";
  }

*/

/* Visually hidden allows you to write content to be read out by screenreaders */
.visuallyHidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
