/*
  ### Example

  @value daveGreen, red from "../../css/_colors.css";

  a {
    color: daveGreen;
  }
*/

/* Main Colour Palette */
@value red: #FC1D42;
@value white: #F8F8F8;
@value black: #212121;
@value dark-red: #bb1e38;

/* Secondary Colour Palette */
@value daveGreen: #22D69B;
@value stuBlue: #00D5EC;
@value cainYellow: #FFD811;
@value cainYellowFaded: #fede3f;

/* Lines and shades */
@value linesOnBlack: #565656;
@value linesOnWhite: #CCCCCC;
