/*
  ### Example

  @value daveGreen, badgerRed from "../../css/_colors.css";

  a {
    color: daveGreen;
  }
*/

/* Main Colour Palette */
@value badgerRed: #FC1D42;
@value badgerRedOnWhite: #E5051A;
@value badgerAccessibleRedOnWhite: #E4111C;
@value badgerAccessibleRedOnBlack: #FC3A54;
@value badgerRedOnBlack: #FC3A54;
@value badgerWhite: #F8F8F8;
@value badgerBlack: #212121;

/* Secondary Colour Palette */
@value daveGreen: #22D69B;
@value stuBlue: #00D5EC;
@value cainYellow: #FFD811;
@value cainYellowFaded: #fede3f;
@value scorpian: #606060;
@value mauve: #B88DFF;
@value grey: #EDEDED;
@value grey2: #d8d8d8;

/* People are just adding random colors now */
@value midBlue: #0091EB;

/* Lines and shades */
@value linesOnBlack: #565656;
@value linesOnWhite: #CCCCCC;

/* MBP Colour Palette */
@value mbpPurple: #A770FF;
@value mbpMidGrey: #373737;
@value mbpLightGrey: #979797;
@value mbpGreen: #22D69B;
@value mbpOrange: #ffa000;
@value mbpBlue: #00d8f0;
