@value red, white, black from "./_colors.css";

.divider {
  position: relative;
}

.divider:before {
  content:"";
  position: absolute;
  right: -6px;
  width: 50%;
  height: 10px;
  top: -9px;
  transform: skew(-40deg);
  background-color: red;
}

.dividerBlack, .dividerWhite {
  composes: divider;
}

.dividerBlack:before {
  background-color: black;
}

.dividerWhite:before {
  background-color: white;
}
