@value badgerRedOnWhite, badgerWhite, badgerBlack, daveGreen, cainYellow, grey from "./_colors.css";
@value timelineDivider from "./_zindex.css";

.divider {
  position: relative;
}

.divider:before {
  padding-left: 2px;
  content:"";
  position: absolute;
  right: -4px;
  width: 50%;
  height: 10px;
  top: -9px;
  transform: skew(-40deg);
  background-color: badgerRedOnWhite;
}

.dividerBlack, .dividerWhite, .dividerYellow, .dividerGreen, .dividerBlackOnTransparent, .dividerBlackSocialSlice, .dividerGrey {
  composes: divider;
}

.dividerBlack:before {
  background-color: badgerBlack;
}

.dividerWhite:before {
  background-color: badgerWhite;
}

.dividerYellow:before {
  background-color: cainYellow;
}

.dividerGreen:before {
  background-color: daveGreen;
}

.dividerGrey:before {
  background-color: grey;
}

.dividerBlackOnTransparent:before {
  background-color: badgerBlack;
  right: auto;
  left: -6px;
  /** IE 11 fix*/
  top:-1px;
  /** Compensate for the IE11 fix */
  height: 11px;
  z-index: timelineDivider;
}

.dividerBlackSocialSlice:before {
  background-color: badgerBlack;
  right: 0;
  left: 352px;
  width: 100%;
}
