@value badgerRedOnWhite, stuBlue from "./_colors.css";

.dividerAfter {
  position: relative;
}

.dividerAfter:after {
  padding-right: 2px;
  content:"";
  position: absolute;
  left: -6px;
  width: 50%;
  height: 10px;
  bottom: -9px;
  transform: skew(-40deg);
  background-color: badgerRedOnWhite;
}

.dividerAfterBlue {
  composes: dividerAfter;
}

.dividerAfterBlue:after {
  background-color: stuBlue;
}
