@value badgerRed, badgerWhite, badgerBlack, daveGreen, cainYellow from "./_colors.css";
@value timelineDivider from "./_zindex.css";

.divider {
  position: relative;
}

.divider:before {
  content:"";
  position: absolute;
  right: -6px;
  width: 50%;
  height: 10px;
  top: -9px;
  transform: skew(-40deg);
  background-color: badgerRed;
}

.dividerBlack, .dividerWhite, .dividerYellow, .dividerGreen, .dividerBlackOnTransparent {
  composes: divider;
}

.dividerBlack:before {
  background-color: badgerBlack;
}

.dividerWhite:before {
  background-color: badgerWhite;
}

.dividerYellow:before {
  background-color: cainYellow;
}

.dividerGreen:before {
  background-color: daveGreen;
}

.dividerBlackOnTransparent:before {
  background-color: badgerBlack;
  right: auto;
  left: -6px;
  /** IE 11 fix*/
  top:-1px;
  /** Compensate for the IE11 fix */
  height: 11px;
  z-index: timelineDivider;
}
