@value white, red from "./_colors.css";
/*
### Example

  .link {
    composes: redUnderlineLink from "../../css/_links.css";
  }

 */

.redUnderlineLink {
  border-bottom: 2px solid red;
  color: white;
  text-decoration: none;
}

.primaryButton {
  background-color: red;
  color: white;
  text-align: center;
  padding: 16px 20px 16px 20px;
  composes: sansSerifFontS from "./typography/_fonts.css";
  text-decoration: none;
  display: inline-block;
}
