/*
  ## Example
  @value mediumScreen from "../../css/_sizes.css";

  @media mediumScreen {

  }
*/
@value tinyScreen: screen and (max-width: 374px);
@value smallScreen: screen and (min-width: 540px);
@value mediumScreen: screen and (min-width: 690px);
@value largeScreen: screen and (min-width: 980px);
@value contentMaxWidth: 1000px;
@value containerMaxWidth: 1440px;
@value inputHeight: 56px;
@value linkSize: 24px;
