@value mediumScreen, largeScreen, contentMaxWidth from "../../../css/_sizes.css";
@value badgerRed, badgerWhite, badgerRedOnBlack, badgerBlack, scorpian from "../../../css/_colors.css";

.jobs {
  background:badgerBlack;
  color: badgerWhite;
  padding-top: 10px;
  padding-bottom: 40px;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

@media mediumScreen {

  .container{
    max-width: 700px;
  }

}
