@value badgerBlack, badgerRed from "../../../../../css/_colors.css";

.button__more {
  display: block;
  height: 21px;
  width: 21px;
  margin: 0;
  padding: 0;
  position: relative;
  background: none;
  border: 0;
}

.button__more__hide {
  display: none;
}

.button__more:focus {
  outline: 0;
}

.button__arrow {
  border: solid badgerBlack;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}

.button__arrowDown {
  border: solid badgerBlack;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(225deg);
}