@value badgerRed, badgerBlack, badgerRedOnWhite, badgerRedOnBlack from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.mb0 {
  margin-bottom: 0;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.simpleHeading {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.effectiveDate {
  composes: serif from '../../css/typography/_fonts.css';
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 30px;
}

.container {
  padding: 30px 20px 60px;
}

.container a {
  color: badgerBlack;
  border-bottom: 1px solid badgerRedOnWhite;
  text-decoration: none;
  word-break: break-all;
}

.container a:hover,
.container a:focus {
  color: badgerRedOnWhite;
  border-bottom: 1px solid badgerRedOnBlack;
}

.box {
  display: flex;
}

.numberContainer {
  margin-right: 30px;
}

.number {
  composes: boldSansSerif from '../../css/typography/_fonts.css';
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  padding: 6px 0 5px;
  border-bottom: 5px solid badgerRed;
  display: block;
}

.statementNumber {
  composes: number;
  border-bottom: 0;
  padding-top: 3px;
}

.underline {
  background-color: red;
  height: 5px;
}

.policyHeading {
  padding-bottom: 10px;
}

.policyText {
  max-width: 610px;
  width: 100%;
  margin-bottom: 10px;
}

@media mediumScreen {
  .container {
    margin: 0 auto;
    max-width: 690px;
  }

  .container a {
    word-break: normal;
  }

  .pageHeading {
    padding-left: 46px;
  }
}

.policyText p b {
  font-family: 'ProximaNova-Bold', sans-serif;
}

