@value badgerBlack, badgerRed from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.topic__question {
  display: flex;
  justify-content: space-between;
}

.topic__question:hover {
  cursor: pointer;
}

.topic__heading {
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontS2 from "../../../../css/typography/_fonts.css";
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  width: 100%;
}

.topic__more {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 28px;
  position: relative;
  background: none;
  border: 0;
}

.topic__plus:before {
  content: '';
  width: 20px;
  height: 1px;
  border-top: 5px solid badgerBlack;
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
}

.topic__plus:after {
  content: '';
  width: 1px;
  height: 20px;
  border-right: 5px solid badgerBlack;
  display: block;
  position: absolute;
  top: 22px;
  right: 8px;
}

.topic__minus:before {
  content: '';
  width: 20px;
  height: 1px;
  border-top: 5px solid badgerBlack;
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
}

.topic__answer {
  margin-right: 48px;
  padding-bottom: 20px;
}

.topic__answer__visible {
  composes: topic__answer;
  display: block;
}

.topic__answer__hidden {
  composes: topic__answer;
  display: none;
}

.topic__answer a {
  color: badgerBlack;
  border-bottom: 1px solid badgerRed;
}

.topic__answer a:hover {
  color: badgerRed;
}

.topic__answer__strong {
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
}

@media mediumScreen {
  .topic__more {
    margin-left: 105px;
  }

  .topic__answer {
    margin-right: 125px;
  }
}

@media largeScreen {
  .topic__more {
    margin-left: 174px;
  }

  .topic__answer {
    margin-right: 240px;
  }
}
