@value mediumScreen, largeScreen, maxWidth from "../../../css/_sizes.css";
@value badgerWhite, badgerRed, badgerBlack from "../../../css/_colors.css";

.principles {
	background:badgerBlack;
	color: badgerWhite;
	padding-top: 30px;
}

.container{
	margin: auto;
	max-width: 350px;
}

.header {
  composes: serif from "../../../css/typography/_fonts.css";
	composes: fontL from "../../../css/typography/_fonts.css";
	padding-bottom: 10px;
	margin-left: -40px;
}

.thisIsWhatWeBelieveIn {
  composes: serif from "../../../css/typography/_fonts.css";
	composes: fontS2 from "../../../css/typography/_fonts.css";
	padding-bottom: 10px;
	max-width: 650px;
	margin-left: -40px;
}

.buttons{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.buttons:first {
	margin-right: 40px;
}


@media mediumScreen {
	.container{
		max-width: 700px;
	}

	.header {
		padding-left: 10px;
		margin-left: 0;
	}

	.thisIsWhatWeBelieveIn {
		max-width: 650px;
		padding-left: 10px;
		margin-left: 0;
	}
}
