@value badgerBlack, badgerWhite, badgerRed, linesOnWhite from "../../../css/_colors.css";
@value mediumScreen from "../../../css/_sizes.css";

.caseStudyContainer {
  max-width: 1100px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
}

.caseStudyContent {
  display: flex;
  max-width: containerMaxWidth;
  width: 100%;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.imageLink {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

_:-ms-fullscreen, :root .imageLink {
  min-height: 20vh;
}

.imageContainer {
  min-width: 260px;
  position: relative;
}

.imageLink img{
  width: 100%;
}

.orders {
  position: absolute;
  right: 30px;
  top: 30px;
}

.imagePercentage {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  text-align: right;
}

.imageText {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: lightSerif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
}

.caseStudyTextContainer {
  padding: 0;
  margin-top: 30px;
}

.caseStudyTextContainerHeader {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  margin-top: 20px;
}

.description {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  margin-top: 10px;
}

.readmore {
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  border-bottom: 2px solid badgerRed;
  text-decoration: none;
  color: badgerBlack;
  display: inline-block;
  margin-top: 30px;
}

.links {
  text-align: right;
  border-bottom: 1px solid linesOnWhite;
  padding-bottom: 30px;
}

@media mediumScreen {
  .caseStudyTextContainer {
    margin-top: 0;
    padding: 0 30px 0 90px;
    flex-basis: 50%;
  }

  .caseStudyContent {
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
  }

  .imageLink {
    flex-basis: 50%;
  }

  .imageContainer {
    min-width: 400px;
  }

  .caseStudyTextContainerHeader {
    margin-top: 20px;
  }

  .description {
    margin-top: 20px;
  }

  .caseStudyContainer {
    padding: 40px 0 60px;
    border-bottom: 1px solid linesOnWhite;
  }

  .links {
    text-align: left;
    border: none;
    padding-bottom: 0;
  }

}
