@value badgerWhite from '../../../../css/_colors.css';
@value badgerBlack from '../../../../css/_colors.css';
@value badgerAccessibleRedOnWhite from '../../../../css/_colors.css';
@value badgerRedOnWhite from '../../../../css/_colors.css';
@value linesOnWhite from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from '../../../../css/_sizes.css';

.caseStudy {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: lightSerif from '../../../../css/typography/_fonts.css';
  font-size: 20px;
  line-height: 27px;
  background-color: badgerWhite;
}

.header {
  width: 100%;
  background-color: #fff1df;
}

.header__container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.header__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image {
  width: 100%;
}

.header__outcome {
  width: 120px;
  position: absolute;
}

.header__outcome--right {
  text-align: right;
  top: 13px;
  right: 20px;
}

.header__outcome--right .header__outcome__percentage:after {
  position: absolute;
  content: '';
  display: inline-block;
  left: -2px;
  bottom: 24px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: badgerBlack;
}

.header__outcome--left {
  bottom: 13px;
  left: 20px;
}

.header__outcome--left .header__outcome__percentage:after {
  position: absolute;
  content: '';
  display: inline-block;
  right: -2px;
  bottom: 24px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: badgerBlack;
}

.header__outcome__percentage {
  composes: fontM from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  display: block;
  border-bottom: 1px dashed badgerBlack;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.header__outcome__description {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: sansSerif from '../../../../css/typography/_fonts.css';
  font-size: 16px;
}

.techGraphImage {
  max-width: 100%;
  height: auto;
  padding: 0;
}

.content {
  padding-bottom: 40px;
}

.content__wrapper {
  padding: 20px 20px 20px;
}

.content__mainTitle {
  composes: fontL from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin: 0;
}

.content__mainTitleWrapper {
  padding: 30px 20px 30px;
}

.content__mainTitleWrapper + .overview .quote {
  margin-top: 0;
}

.content__title {
  composes: fontM from '../../../../css/typography/_fonts.css';
  composes: lightSerif from '../../../../css/typography/_fonts.css';
  margin-bottom: 40px;
}

.content__redTitle {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  display: block;
  color: badgerAccessibleRedOnWhite;
}

.content__secondaryTitle {
  composes: fontS2 from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin-bottom: 0px;
  margin-top: 40px;
}

.content__paragraph {
  margin-bottom: 20px;
}

.content__list {
  list-style-type: disc;
  padding-left: 35px;
  margin-bottom: 30px;
}

.content__list__element {
  padding-left: 8px;
  line-height: 28px;
}

.content__ordered__list {
  list-style-type: decimal;
  padding-left: 35px;
  margin-bottom: 30px;
}

.content__ordered__list__element {
  padding-left: 8px;
  line-height: 28px;
}

.listBoxContainer {
  width: 100%;
  margin: 0 auto 25px;
}

.listBox__label {
  composes: sansSerif from '../../../../css/typography/_fonts.css';
  font-size: 16px;
}

.screenDemo {
  background: #ded3c3;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.screenDemo__image {
  height: auto;
  width: 80%;
  max-width: 733px;
}

.screenDemo__description {
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 20px;
  padding: 0px 50px;
}

.quote {
  width: 75%;
  margin: 22px auto 62px;
}

@media mediumScreen {
  .content__wrapper {
    padding: 30px 20px 20px;
  }

  .content__mainTitleWrapper {
    padding: 40px 20px 30px;
  }

  .header__outcome {
    width: 200px;
  }

  .header__outcome--left {
    bottom: 78px;
  }

  .header__outcome--right {
    top: 78px;
  }

  .content__paragraph {
    padding-left: 114px;
  }

  .content__secondaryTitle {
    padding-left: 114px;
  }

  .content__title {
    margin-top: 50px;
  }

  .overview {
    display: flex;
  }

  .listBoxContainer {
    width: 75%;
    margin-bottom: 0;
  }

  .listBox__item {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .techGraphImage {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .overview {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .screenDemo {
    padding-bottom: 0px;
  }

  .quote {
    width: 85%;
  }
}

@media largeScreen {
  .header__container {
    height: 400px;
  }

  .header__image {
    height: 456px;
    width: auto;
  }

  .content {
    max-width: 1400px;
    padding: 20px 120px 60px;
    margin: auto;
  }

  .content__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .content__paragraph,
  .content__secondaryTitle {
    padding-left: 30%;
    padding-right: 10%;
  }

  .content__mainTitleWrapper {
    background-color: badgerWhite;
    padding: 20px 20px 40px;
    margin-top: -96px;
    position: relative;
  }

  .content__title {
    padding-left: 10%;
  }

  .header {
    padding-bottom: 56px;
  }

  .techGraphImage {
    padding-left: 0;
    padding-right: 0;
  }

  .screenDemo__description {
    width: 214px;
    display: block;
    left: calc(50% + 229.5px);
    bottom: 30px;
    padding: 0px;
  }

  .listBoxContainer {
    width: 50%;
    margin-bottom: 0;
  }

  .quote {
    width: 45%;
    margin: 0 auto;
  }
}
