@value badgerBlack from "../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen from "../../../css/_sizes.css";

.badgerWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.badgers {
  margin-right: -20px;
  text-align: left;
}

.badger {
  margin-bottom: 20px;
  background-color: badgerBlack;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  width: calc(100% - 20px);
}

.badger:before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media smallScreen {
  .badger {
    width: calc(50% - 20px);
  }
}

@media mediumScreen {
  .badger {
    width: calc(33.333% - 20px);
  }
}

@media largeScreen {
  .badger {
    width: calc(25% - 20px);
    max-width: 335px;
  }
  .question {
    width: 260px;
  }
}

.badgerContainer {
  height: 100%;
}
