@value badgerWhite, badgerBlack, daveGreen from "../../../css/_colors.css";

.tile {
  width: 335px;
  height: 335px;
  text-align: left;
  position: relative;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
}

.badgers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badger {
  margin-bottom: 20px;
}

.badgerProfile {
  composes: tile;
}

.description {
  composes: info;
  padding: 0 0 10px 10px;
  color: badgerWhite;
}

.name {
  composes: fontS2 from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  padding-bottom: 5px;
}

.jobDescription {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
}

.jobAdvert {
  composes: tile;
  display: block;
  background-color: daveGreen;
  padding: 10px 0 0 20px;
}

.question {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  width: 260px;
}

.hiring {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  composes: info;
  margin: 0 0 20px 20px;
  padding: 10px 20px;
  background-color: badgerBlack;
  color: badgerWhite;
}

.arrow svg {
  position: relative;
  top: 5px;
  height: 20px;
}
