@value badgerRed, badgerBlack, badgerWhite from "../../../css/_colors.css";
@value contentMaxWidth, largeScreen, mediumScreen from "../../../css/_sizes.css";

.widthContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: contentMaxWidth;
}

.crossFunctionalSlice {
  background-color: badgerBlack;
  color: badgerWhite;
  text-align: left;
}

.photoContainer {
  margin: 0 auto;
  max-width: 1000px;
}

.sliceBody {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.headingContainer {
  background-color: badgerBlack;
  margin: 0 auto;
  width: 70%;
}

.heading {
  composes: widthContainer;
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontL from "../../../css/typography/_fonts.css";
  font-weight: bold;
  margin: 30px 0 20px;
  text-align: center;
}

.image {
  width: 100%;
}

.imageContainer {
  margin: 0 auto;
  padding: 0 30px;
  width: 260px;
}

.colourBoxContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-bottom: 30px;
}

@media mediumScreen {
  .headingContainer {
    margin: 0 auto;
    width: 70%;
  }

  .heading {
    margin: 42px 0 30px;
  }

  .imageContainer {
    padding: 0;
  }
  
  .colourBoxContainer {
    justify-content: center;
    /* padding: 40px 0 0 60px; */
    padding: 40px 0 0;
    margin: 0 auto;
    max-width: 820px;
  }

  .boxWrapper {
    padding: 0 20px 30px;
    width: 50%;
    max-width: calc(280px + 40px);
  }


}

@media largeScreen {
  .outerHeadingContainer {
    position: absolute;
    top: -250px;
  }

  .mainContainer {
    margin-top: 170px;
  }

  .headingContainer {
    width: 90%;
  }

  .heading {
    padding: 20px 60px 0;
  }

  .colourBoxContainer {
    max-width: contentMaxWidth;
  }

  .boxWrapper {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
    max-width: 205px;
  }

}
