@value badgerRed, badgerBlack, badgerWhite from "../../../css/_colors.css";
@value contentMaxWidth, largeScreen, mediumScreen from "../../../css/_sizes.css";

.widthContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: contentMaxWidth;
}

.crossFunctionalSlice {
  background-color: badgerBlack;
  color: badgerWhite;
  text-align: left;
}

.photoContainer {
  margin: 0 auto;
  max-width: 1000px;
}

.sliceBody {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.headingContainer {
  background-color: badgerBlack;
  margin: 0 auto;
  width: 70%;
  max-width: 400px;
}

.heading {
  composes: widthContainer;
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontL from "../../../css/typography/_fonts.css";
  font-weight: bold;
  margin: 30px 0 20px;
  text-align: center;
}

.image {
  width: 100%;
}

.imageContainer {
  margin: 0 auto;
  padding: 0 10px;
  width: 260px;
}

.colourBoxContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 40px;
}

@media mediumScreen {
  .heading {
    margin: 42px 0 30px;
  }

  .imageContainer {
    padding: 0;
  }
  
  .colourBoxContainer {
    justify-content: center;
    padding: 40px 0 10px;
    margin: 0 auto;
    max-width: 820px;
  }

  .boxWrapper {
    padding: 0 20px 30px;
    width: 50%;
    max-width: calc(280px + 40px);
  }

  .photoContainer {
    max-height: 500px;
    overflow: hidden;
    max-width: 1200px;
  }

  .photoContainer picture {
    position: relative;
    top: -150px;
  }
  .sliceBody {
    top: -160px;
  }

}

@media (min-width: 780px) {
  .sliceBody {
    top: -140px;
  }
}

@media (min-width: 840px) {
  .sliceBody {
    top: -120px;
  }
}

@media largeScreen {
  .outerHeadingContainer {
    position: absolute;
    top: -250px;
    width: 100%;
  }

  .mainContainer {
    margin-top: 170px;
  }

  .headingContainer {
    width: 90%;
    max-width: 800px;
  }

  .heading {
    padding: 30px 60px 0;
  }

  .photoContainer {
    max-height: 500px;
    overflow: hidden;
    max-width: 1200px;
  }

  .photoContainer picture {
    position: relative;
    top: -150px;
  }

  .colourBoxContainer {
    max-width: contentMaxWidth;
    padding-top: 55px;
  }

  .boxWrapper {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
    max-width: 205px;
  }

  .sliceBody {
    top: 0;
  }

}
