
@value badgerWhite, daveGreen, cainYellow from "../../css/_colors.css";
@value mediumScreen from "../../css/_sizes.css";

.whiteSlice {
  background-color: badgerWhite;
}

.greenSlice {
  composes: dividerGreen from "../../css/_divider.css";
  background-color: daveGreen;
}

.yellowSlice {
  composes: dividerYellow from "../../css/_divider.css";
  background-color: cainYellow;
}

.spruceSlice {
  /* Sharethyme Spruce */
  background-color: #0c5c56;
}


.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

@media mediumScreen {
  .container {
    flex-direction: row;
  }
}
