
@value badgerWhite, daveGreen from "../../css/_colors.css";
@value mediumScreen from "../../css/_sizes.css";

.whiteSlice {
  background-color: badgerWhite;
}

.greenSlice {
  composes: dividerGreen from "../../css/_divider.css";
  background-color: daveGreen;
}

.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

@media mediumScreen {
  .container {
    flex-direction: row;
  }
}
