@value badgerWhite, badgerRedOnWhite, badgerRedOnBlack, badgerBlack from "../../css/_colors.css";
@value mediumScreen, largeScreen, contentMaxWidth, containerMaxWidth from "../../css/_sizes.css";

.pageHeaderContainer {
  display: flex;
  composes: dividerWhite from "../../css/_divider.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: badgerWhite;
  padding-top: 30px;
  padding-bottom: 60px;
}

.pageHeader {
  composes: fontXL from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  text-align: center;
  margin: 0px 30px;
  color: badgerBlack;
}

.headerContainer {
  display: flex;
  composes: dividerWhite from "../../css/_divider.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
  background-color: badgerWhite;
}

.mainHeader {
  composes: fontL from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  text-align: center;
  color: badgerBlack;
}

.subHeader {
  composes: fontS from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  font-size: 16px;
  color: badgerBlack;
}

.caseStudyContainer {
  padding: 30px 20px 30px 20px;
  background-color: badgerWhite;
}

a {
  text-decoration: none;
}

.caseStudyContainer img {
  width: 100%;
  margin-bottom: 30px;
}

.caseStudyCompany {
  color: badgerRedOnWhite;
  composes: fontXS from "../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  width: 100%;
}

.caseStudyCompany--onBlack {
  color: badgerRedOnBlack;
}

.imageLink {
  font-size: 0;
}

.caseStudyTitle {
  color: badgerBlack;
  composes: fontM from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  display: inline;
}

.caseStudyTitleContainer {
  margin-bottom: 15px;
}

.caseStudyTitle:hover {
  border-bottom: 2px solid badgerRedOnWhite;
}

.caseStudyDescription {
  color: badgerBlack;
  composes: fontXS from "../../css/typography/_fonts.css";
  composes: sansSerif from "../../css/typography/_fonts.css";
}

.inverse {
  background-color: badgerBlack;
}

.inverse .caseStudyTitle, .inverse .caseStudyDescription {
  color: badgerWhite;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0px 60px 0px;
  background-color: badgerWhite;
}

.button {
  composes: primaryButton from "../../css/_links.css";
}

@media mediumScreen {
  .caseStudyContainer {
    display: flex;
    padding: 60px;
    justify-content: center;
  }
  .caseStudyContent {
    display: flex;
    max-width: containerMaxWidth;
    width: 100%;
  }
  .inverse .caseStudyContent {
    flex-direction: row-reverse;
  }

  .caseStudyTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10%;
    flex:1;
  }

  .caseStudyContainer img {
    margin-bottom: 0px;
  }

  .camden {
    margin-bottom: -60px;
  }

  .subHeader {
    font-size: 24px;
  }

  .imageLink {
    display: flex;
    flex:1;
    align-items: flex-end;
  }

  .buttonContainer {
    padding: 20px 0px 70px 0px;
  }
}
@media largeScreen {
  .mainHeader {
    margin-bottom: 30px;
  }

  .caseStudyTitleContainer {
    margin-bottom: 30px;
  }
  .pageHeaderContainer {
    padding-top: 140px;
    padding-bottom: 210px;
  }
  .headerContainer {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
