@value badgerBlack, badgerRed from "../../../../../site/css/_colors.css";
@value lightGrey2 from '../variables/colors.css';

.eventsSideList {
  font-size: 0.875em;
  padding: 1em;
  background: lightGrey2;
  border-radius: 5px;
  margin-top: 1.5em;
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";
}

.eventsSideListTitle {
  text-transform: uppercase;
}

.eventsSideList ul {
  padding: 0;
}

.eventsSideList li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eventsSideList a {
  text-decoration: none;
  color: badgerBlack;
}

.eventsSideList a:hover {
  color: badgerRed;
}
