@value badgerRedOnWhite, badgerAccessibleRedOnBlack from '../../../../css/_colors.css';
/* @value mediumScreen, largeScreen from "../../../../css/_sizes.css"; */

.listBox__item:last-child {
  border: none;
  margin-bottom: 0;
}

.listBox__item--outcomes {
  composes: lightSerif from '../../../../css/typography/_fonts.css';
}

.link {
  color: badgerBlack;
  border-bottom: 1px solid badgerRedOnWhite;
}

.link:hover {
  color: badgerRedOnWhite;
  border-bottom: 2px solid badgerAccessibleRedOnBlack;
}

.headerImg {
  display: block;
  height: auto;
  max-width: 100%;
}

.h3 {
  padding-bottom: 25px;
}

.h2 > h2 {
  font-size: 30px;
}

.body {
  margin-bottom: -100px;
}

.bannerWrapper {
  padding-bottom: 40px;
}

.listWrapper > ul {
  padding-left: 0px;
  list-style: inside;
}
