@value badgerBlack, badgerWhite, badgerRedOnWhite, linesOnWhite from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.imageWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.imageWrapper img {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.imageContainer {
  min-width: 260px;
  position: relative;
}

.textContainerReverse,
.textContainer {
  padding: 0;
  margin-top: 30px;
}

.textContainerHeader {
  composes: fontM from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  color: badgerBlack;
  margin-top: 20px;
}

.description {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  color: badgerBlack;
  margin-top: 10px;
}

.readmore {
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  border-bottom: 2px solid badgerRedOnWhite;
  text-decoration: none;
  color: badgerBlack;
  display: inline-block;
  margin-top: 30px;
}

.readmore:hover {
  color: badgerRedOnWhite;
}

.links {
  text-align: right;
  border-bottom: 1px solid linesOnWhite;
  padding-bottom: 30px;
}

@media mediumScreen {
  .textContainerReverse,
  .textContainer {
    margin-top: 0;
    padding: 0 30px;
    flex-basis: 50%;
  }

  .imageWrapper {
    flex-basis: 50%;
  }

  .imageContainer {
    min-width: 400px;
  }

  .textContainerHeader {
    margin-top: 20px;
  }

  .description {
    margin-top: 20px;
  }

  .links {
    text-align: left;
    border: none;
    padding-bottom: 0;
  }
}

@media largeScreen {
  .textContainerReverse {
    padding-left: 90px;
  }
}
