.awardsContainer {
  composes: dividerWhite from "../../css/_divider.css";
  display: flex;
  background: linear-gradient(to bottom, #F8F8F8, #F8F8F8 34.2%, #ccc 34.4%, #ccc);
}

.awards {
  margin: 0 auto;
  max-width: 1440px;
}

.awardsImage {
  width: 100%;
  display: block;
}
