@value badgerRedOnWhite, linesOnWhite from '../../css/_colors.css';
@value mediumScreen from "../../css/_sizes.css";

.listBox {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.09);
}

.listBox__heading {
  composes: fontS2 from "../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  color: badgerRedOnWhite;
  text-transform: uppercase;
}

.listBox__heading:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: linesOnWhite;
  margin: 15px 0;
}

.listBox__element {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed linesOnWhite;
}

.listBox__element--results {
  display: flex;
  justify-content: space-between;
  composes: fontS2 from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
}

@media mediumScreen {
  .listBox {
    width: 50%;
  }
}
