@value black, white from "../../../css/_colors.css";
@value maxWidth, largeScreen, mediumScreen from "../../../css/_breakpoints.css";

.widthContainer {
  max-width: maxWidth;
  margin-left: auto;
  margin-right: auto;
}

.techSlice {
  composes: dividerBlack from "../../../css/_divider.css";
  color: white;
  background-color: black;
  padding: 30px 20px 40px 20px;
  text-align: center;
}

.heading {
  composes: widthContainer;
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontL from "../../../css/typography/_fonts.css";
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.projectsBlerb {
  composes: widthContainer;
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontS from "../../../css/typography/_fonts.css";
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.techList {
  composes: widthContainer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.techListItem {
  width: calc(100% / 2);
  text-align: center;
  display: flex;
}

.techItem {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.techLogo {
  max-height: 70px;
}

.techName {
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  margin: 20px 0px 40px 0px;
}

.moreBtn {
  composes: primaryButton from "../../../css/_links.css";
}

@media mediumScreen {
  .techSlice {
    padding: 60px 20px 70px 20px;
  }

  .heading {
    margin-bottom: 30px;
  }

  .projectsBlerb {
    composes: fontSerif from "../../../css/typography/_fonts.css";
    composes: fontS from "../../../css/typography/_fonts.css";
    margin-bottom: 90px;
  }

  .techListItem {
    width: calc(100% / 3);
  }

  .techName {
    margin: 40px 0 0 0;
  }

  .moreBtn {
    composes: primaryButton from "../../../css/_links.css";
    margin: 60px 0 0 0;
  }
}

@media largeScreen {
  .techListItem {
    width: calc(98% / 6);
  }
}
