@value badgerBlack, badgerRed, linesOnWhite from "../../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.category {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid badgerBlack;
  padding-top: 20px;
}

.category__title {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
  width: 100%;
}

.category__questionList {
  width: 100%;
}

.category__element {
  border-top: 2px solid linesOnWhite;
}

.category__element:first-child {
  border-top: 0;
}

@media mediumScreen {
  .category {
    flex-wrap: nowrap;
    padding-top: 0;
  }

  .category__title {
    padding-top: 20px;
    width: 120px;
  }
}

@media largeScreen {
  .category__title {
    width: 235px;
  }
}
