@value red, white, black, linesOnBlack from "../../css/_colors.css";

.footer {
  background-color: black;
  color: white;
}

.nav {
  list-style: none;
  composes: fontS-Serif from "../../css/typography/_fonts.css";
}

.nav li {
  margin: 0 0 20px 0;
}

.nav li:last-child {
  margin: 0;
}

.nav li a {
  border-bottom: 2px solid red;
  color: white;
  text-decoration: none;
}

.section {
  padding: 30px 0px;
  margin: 0px 20px;
  border-bottom: 1px solid linesOnBlack;
}

.social {
  composes: fontS-Serif from "../../css/typography/_fonts.css";
}

.social a {
  color: white;
  display: block;
}
