@value red, white, black, linesOnBlack from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_breakpoints.css";
.footer {
  color: white;
  padding: 0px 20px;
  background-color: black;
  composes: dividerBlack from "../../css/_divider.css";
}
.footerContainer {
  max-width: 1200px;
  position: relative;
}

.nav {
  list-style: none;
  composes: fontS-Serif from "../../css/typography/_fonts.css";
}

.nav li {
  margin: 0 0 20px 0;
}

.nav li:last-child {
  margin: 0;
}

.nav li a {
  border-bottom: 2px solid red;
  color: white;
  text-decoration: none;
}

.section {
  padding: 30px 0px;
  border-bottom: 1px solid linesOnBlack;
}

.disclaimer.noBorder {
  border-bottom: none;
}

.social {
  composes: fontS-Serif from "../../css/typography/_fonts.css";
}

.mailtoLink,
.telLink {
  color: white;
  display: block;
  text-decoration: none;
}

.telLink {
  margin-bottom: 30px;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.socialLinks li {
  margin-right: 23px;
  margin-bottom: 5px;
}

.socialIcon svg {
  height: 20px;
}

.address {
  composes: boldXS from "../../css/typography/_fonts.css";
  display: flex;
}

.mapPin svg {
  width: 22px;
}

.mapContainer {
  margin-left: 15px;
}

.mapLink {
  composes: redUnderlineLink from "../../css/_links.css";
  margin-top: 20px;
  display: inline-block;
}

.disclaimer {
  composes: boldXS from "../../css/typography/_fonts.css";
  padding-bottom: 0px;
}

.cookieWarning {
  margin-top: 16px;
}

.badgerIcon {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.badgerIcon svg {
  margin: 15px 20px;
  width: 40px;
  height: 40px;
}

.footerMap {
  display: none;
}
@media screen and (min-width: 820px) {
  .footerMap {
    position: absolute;
    width: 824px;
    right: 0;
    display: block;
  }
  .badgerIcon {
    margin-bottom: 16px;
  }

  .address {
    position: absolute;
    right: 230px;
    top: 280px;
  }
  .section {
    border-bottom: none;
  }

  .mapPin {
    display: none;
  }
  .footerSections {
    position: relative;
  }
}

@media largeScreen {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footerLinks {
    flex-grow: 2;
  }

  .social {
    flex-grow: 1;
    position: relative;
  }

  .socialLinks {
    width: 100%;
  }

  .footerSections {
    display: flex;
    width: 60%;
  }

  .disclaimer {
    margin-top: 70px;
    padding-bottom: 20px;
  }

  .disclaimer p {
    padding: 0 20px;
    display: inline-block;
    position: relative;
  }
  .disclaimer p:first-child {
    padding: 0px 20px 0px 0px;
  }
  .disclaimer p:last-child {
    padding: 0px;
  }
  .afterDivider:after {
    content: ' ';
    display: block;
    width: 1px;
    height: 10px;
    background-color: grey;
    position: absolute;
    right: 0;
    top: 8px;
  }
  .footerEndContainer {
    display: flex;
  }
}
