@value badgerWhite, badgerRed, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";
@value timelineContainer from "../../../../css/_zindex.css";

.mobileImage {

}

.mobileImage:after{
  content: '';
  background-color: badgerWhite;
  width: 90%;
  position: relative;
  bottom: 25px;
  height: 15px;
  display: block;
  margin: auto;
}

.image {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
}

@media mediumScreen{
  .image {
    display: none;
  }

  .mobileImage{
    display: none;
  }

  .mobileImage:after{
    display: none;
  }
}
