@value badgerWhite, badgerRed, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";
@value timelineContainer from "../../../../css/_zindex.css";

.mobileImage:after{
  content: '';
  background-color: badgerWhite;
  width: 90%;
  position: relative;
  bottom: 25px;
  height: 15px;
  display: block;
  margin: auto;
}

.image {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  max-height: 340px;
  width: auto;
  padding: 20px 10px 0 10px;
}

@media mediumScreen {
  .mobileImage {
    margin-bottom: -70px;
  }

  .mobileImageWrapper {
    width: 460px;
    margin: auto;
  }
}

@media largeScreen{
  .image {
    display: none;
  }

  .mobileImage{
    display: none;
  }

  .mobileImage:after{
    display: none;
  }
}
