@value badgerWhite, badgerRed, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";
@value timelineContainer from "../../../../css/_zindex.css";

.mobileImage:after{
  content: '';
  background-color: badgerWhite;
  width: 90%;
  position: relative;
  bottom: 25px;
  height: 15px;
  display: block;
  margin: auto;
}

.image {
  width: 100%;
  padding: 30px 20px 0 20px;
}

@media mediumScreen {
  .image {
    padding-top: 40px;
  }

  .mobileImage {
    margin-bottom: -70px;
  }

  .mobileImageWrapper {
    width: 460px;
    margin: auto;
  }
}

@media largeScreen{
  .image {
    display: none;
  }

  .mobileImage{
    display: none;
  }

  .mobileImage:after{
    display: none;
  }
}
