@value badgerWhite, badgerRed, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";
@value timelineContainer from "../../../../css/_zindex.css";

.mobileImage {
  margin-bottom: 20px;  
}
.mobileImage:after{
  content: '';
  background-color: badgerWhite;
  width: 80%;
  position: relative;
  bottom: 35px;
  height: 30px;
  display: block;
  margin: auto;
}
.image {
  width: 100%;
}

@media mediumScreen{
  .image {
    display: none;
  }

  .mobileImage{
    display: none;
  }
  .mobileImage:after{
    display: none;
  }
}
