@value badgerWhite, badgerBlack, badgerRedOnWhite, linesOnWhite from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from '../../../../css/_sizes.css';

.header {
  width: 100%;
  background-color: #FFD811;
}

.header__image {
  width: 100%;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.content {
  padding-bottom: 40px;
}

.content__wrapper {
  padding: 20px;
}

.content__mainTitleWrapper {
  padding: 30px 20px 40px;
}

.content__mainTitleWrapper + .content__wrapper h2,
.content__mainTitleWrapper + .content__wrapper {
  margin-top: 0;
  padding-top: 0;
}

.content__wrapper::after {
  content: '';
  display: block;
  clear: both;
}

.content__mainTitleWrapper:after {
  content: '';
  display: block;
  clear: both;
}

.content__mainTitle {
  composes: fontL from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin: 0;
}

.content__title {
  composes: fontM from '../../../../css/typography/_fonts.css';
  composes: lightSerif from '../../../../css/typography/_fonts.css';
  margin-bottom: 40px;
}

.content__redTitle {
  composes: fontXS from '../../../../css/typography/_fonts.css';
  composes: boldSansSerif from '../../../../css/typography/_fonts.css';
  display: block;
  color: badgerRedOnWhite;
}

.content__secondaryTitle {
  composes: fontS2 from '../../../../css/typography/_fonts.css';
  composes: serif from '../../../../css/typography/_fonts.css';
  margin-bottom: 0px;
  margin-top: 40px;
}

.content__paragraph:not(:last-child),
.content__float {
  margin-bottom: 20px;
}

.content__list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 30px;
  line-height: 28px;
}

.tickImage,
.smileyImage,
.pyramidImage {
  display: block;
  max-width: 100%;
}

.quote {
  margin: 35px 0;
}

.listBoxContainer {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.listBoxContainer:last-child {
  margin-bottom: 0;
}

.listBox {
  margin: 10px 0;
}

.listBox__item:last-child {
  border: none;
  margin-bottom: 0;
}

.listBox__item--outcomes {
  composes: lightSerif from '../../../../css/typography/_fonts.css';
}

@media mediumScreen {
  .content {
    padding: 0 0 60px;
  }

  .content__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .content__mainTitleWrapper {
    padding: 40px 20px 50px;
  }

  .content__paragraph,
  .quote {
    padding-left: 114px;
  }

  .content__float {
    float: right;
    max-width: 45%;
    margin: 5px 0 20px 40px;
  }

  .content__float--left {
    float: left;
    margin: 5px 40px 20px 10%;
  }

  .content__float--noBottomMargin {
    margin-bottom: 0;
  }

  .content__secondaryTitle {
    padding-left: 114px;
  }

  .content__list {
    padding-left: 134px;
  }

  .content__title {
    margin-top: 60px;
  }

  .listBoxContainer {
    margin-left: 64px;
    margin-right: auto;
  }

  .listBox {
    margin: 20px 30px 10px;
  }

  /*
    The images need to occupy additional vertical space,
    so the text won't flow around.
  */
  .smileyImage {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .pyramidImage {
    margin-top: 65px;
    margin-bottom: 75px;
  }
}

@media largeScreen {
  .content {
    max-width: 1400px;
    padding: 20px 120px 60px;
    margin: auto;
  }

  .content__wrapper {
    padding: 0;
  }

  .content__mainTitleWrapper {
    background-color: badgerWhite;
    padding: 20px 20px 60px;
    margin-top: -96px;
    position: relative;
  }

  .content__title {
    padding-left: 10%;
  }

  .content__paragraph,
  .content__secondaryTitle,
  .quote {
    padding-left: 30%;
    padding-right: 10%;
  }

  .content__float--left {
    margin-left: 20%;
  }

  .content__list {
    padding-left: 33.457143%;
    padding-right: 18.2857143%;
  }

  .listBoxContainer {
    margin-left: calc(30% - 50px);
    margin-right: calc(10% - 50px);
  }

  .tickImage {
    width: 434px;
  }

  .smileyImage,
  .pyramidImage {
    width: 453px;
  }
}
