@value red: #fc1d42;
@value hero: "FranklinGothicHand", "Helvetica Neue", Helvetica, Arial, sans-serif;
@value font: #333;
@value mobileMaxWidth: 767px;

.eventsListTimelineSection {
  margin-bottom: 50px;
}

.eventsListTimelineSection:last-child {
  margin-bottom: 0;
}

.eventsListTimelineSection h2 {
  margin-bottom: 0;
}

.eventsListTimelineSection h2.eventTitle {
  text-align: left;
}

.eventsList {
  font-size: 1em;
  margin-top: 0;
  padding-left: 0;
}

.eventItem {
  position: relative;
  list-style-type: none;
}

.eventTitleLink {
  text-decoration: none;
}

.eventTitle {
  color: font;
  font-family: hero;
  font-weight: normal;
  line-height: 1;
  font-size: 1.6em;
  text-decoration: none;
  display: inline-block;
  margin: 0 0 20px 0;
  float: left;
}

.eventTitle span {
  display: inline;
}

.eventTitle:hover, .eventTitle:active, .eventTitle:focus {
  color: red;
}

.arrow {
  color: red;
  padding-left: 5px;
}

.eventDescription {
  float: left;
  width: 100%;
}

.eventLinks:before,
.eventLinks:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.eventLinks:after {
  clear: both;
}

.eventLinks {
  margin-bottom: 1em;
}

.mobileHorizontalLine {
  display: block;
  margin: 1.5em 0 0 0;
}

@media (max-width: mobileMaxWidth) {
  .eventsList {
    padding: 0;
  }
}
