@value mediumScreen from "../../../css/_sizes.css";

.headings {
  padding-top: 24px;
  max-width: 500px;
  margin: auto;
}

.headings p {
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.3em;
}

.h1 {
  composes: serif from "../../../css/typography/_fonts.css";
  font-size: 40px;
  line-height: 1.1em;
  padding-bottom: 30px;
  text-align: center;
}
