@value badgerBlack, badgerWhite, badgerRed, linesOnWhite from "../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../css/_sizes.css";

.cell {
  justify-content: center;
  margin: 0 auto;
  flex-basis: 100%;
}

.clientImage {
  width: 100%;
  margin-bottom: 30px;
}

.caseStudyContentContainer {
  display: flex;
  max-width: containerMaxWidth;
  width: 100%;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.logoHaller {
  width: 115px;
}

.logoBMW {
  width: 30px;
}

.logoBBC {
  width: 60px;
}

.logoSky {
  width: 40px;
}

.caseStudyContent {
  padding: 0px 10%;
}

.caseStudyTextContainerHeader {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  margin-top: 20px;
}

.description {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
  margin-top: 10px;
}

.readmore {
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  border-bottom: 2px solid badgerRed;
  text-decoration: none;
  color: badgerBlack;
  display: inline-block;
  margin-top: 30px;
}

.links {
  text-align: right;
  border-bottom: 1px solid linesOnWhite;
  padding-bottom: 30px;
}

@media mediumScreen {
  .caseStudyContent {
    margin-top: 0;
    padding: 0 30px;
    text-align: center;
  }

  .caseStudyContentContainer {
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid linesOnWhite;
  }

  .clientLogo {
    width: 70px;
  }

  .caseStudyTextContainerHeader {
    margin-top: 40px;
  }

  .description {
    margin-top: 20px;
  }

  .cell {
    padding-top: 70px;
    flex-basis: 50%;
  }

  .links {
    text-align: center;
    border: none;
    padding-bottom: 60px;
  }
}
