@value red, white, black from "../../css/_colors.css";
@value mediumScreen from "../../css/_breakpoints.css";
@value zindexOverlay from "../../css/_zindex.css";

.header {
  display: flex;
  padding: 15px 20px;
  background-color: white;
}

.mediumScreenNavContainer {
  display: none;
  width: 100%;
  justify-content: flex-end;
}

.logo svg {
  height: 23px;
}

.mediumScreenNav {
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  composes: fontXS from "../../css/typography/_fonts.css";
  list-style: none;
  align-self: center;
  justify-content: flex-end;
  display: flex;
}

.mediumScreenNav li {
  display: inline-block;
  margin-left: 43px;
}

.mediumScreenNav a {
  text-decoration: none;
  color: black;
}

.overlay {
  background: black;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  z-index: zindexOverlay;

  composes: serif from "../../css/typography/_fonts.css";
  composes: fontL from "../../css/typography/_fonts.css";
  font-weight: bold;

  transition: left 0.3s;
}

.overlay .mediumScreenNav {
  display: block;
}

.smallScreenNavContainer {
  margin-top: 30px;
  text-align: center;
}

.smallScreenNav {
  width: 150px;
  display: inline-block;
  text-align: left;
  margin: 10px 0 0 20px;
}

.smallScreenNav li {
  margin: 0 0 20px 0;
}

.smallScreenNav li a {
  color: white;
  text-decoration: none;
}

.menuCloseButton {
  composes: fontXS from "../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  position: absolute;
  top: 15px;
  left: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.triggerContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.triggerLabel {
  align-self: center;
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  composes: fontXS from "../../css/typography/_fonts.css";
  border-bottom: 2px solid red;
  line-height: 1em;
  cursor: pointer;
}

.trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.trigger:checked + .overlay {
  left: 44px;
  right: 0;
}

@media mediumScreen {
  .triggerContainer {
    display: none;
  }

  .mediumScreenNavContainer {
    display: flex;
  }

  .logo svg {
    height: 30px;
  }
}

/*
 * Ideally this would be something like this:
 *
 *  .navLink:hover,
 *  .smallScreenNavLink:hover {
 *    composes: redUnderlineOnWhite from "../../css/_underlines.css";
 *  }
 *
 * However CSS modules don't support `composes` with pseudo selectors
 * such as `:hover`.
 * For now I've copied and pasted from there. Sorry. :/
 */
    .navLink:hover,
    .smallScreenNavLink:hover {
      line-height: 1;
      text-decoration: none;
      background-image: linear-gradient( to right, red 0%, red 100% );
      background-repeat: repeat-x;
      background-position: 0 96%;
      background-size: 100% 2px;
      color: white;
      text-shadow:
         0.09em   0       0 black,
        -0.09em   0       0 black,
         0        0.09em  0 black,
         0       -0.09em  0 black,

         0.06em   0.06em  0 black,
        -0.06em   0.06em  0 black,
         0.06em  -0.06em  0 black,
        -0.06em  -0.06em  0 black,

         0.13em   0.09em  0 black,
        -0.13em   0.09em  0 black,
         0.17em   0.09em  0 black,
        -0.17em   0.09em  0 black;
    }
    @media mediumScreen {
      .navLink:hover,
      .smallScreenNavLink:hover {
        color: black;
        text-shadow:
          0.09em   0       0 white,
         -0.09em   0       0 white,
          0        0.09em  0 white,
          0       -0.09em  0 white,

          0.06em   0.06em  0 white,
         -0.06em   0.06em  0 white,
          0.06em  -0.06em  0 white,
         -0.06em  -0.06em  0 white,

          0.13em   0.09em  0 white,
         -0.13em   0.09em  0 white,
          0.17em   0.09em  0 white,
         -0.17em   0.09em  0 white;
      }
    }
