@value badgerRed, badgerWhite, badgerBlack from "../../css/_colors.css";
@value zindexOverlay from "../../css/_zindex.css";
@value mediumScreen from "../../css/_sizes.css";

.header {
  display: flex;
  padding: 15px 20px;
  background-color: badgerWhite;
}

.mediumScreenNavContainer {
  display: none;
  width: 100%;
  justify-content: flex-end;
}

.logo svg {
  height: 35px;
}

.mediumScreenNav {
  composes: boldSansSerif from "../../css/typography/_fonts.css";
  composes: fontXS from "../../css/typography/_fonts.css";
  list-style: none;
  align-self: center;
  justify-content: flex-end;
  display: flex;
}

.mediumScreenNav li {
  display: inline-block;
  margin-left: 43px;
}

.mediumScreenNav a {
  text-decoration: none;
  color: badgerBlack;
}

.mediumScreenNav a:hover,
.smallScreenNavContainer a,
.activeNavLink {
  border-bottom: 2px solid badgerRed;
}

@media mediumScreen {
  .mediumScreenNavContainer {
    display: flex;
  }

  .logo svg {
    height: 44px;
  }
}
