@value white from "../../css/_colors.css";
@value largeScreen from "../../css/_breakpoints.css";

.homepageTopSlice {
  padding: 50px 60px 100px 60px;
  text-align: center;
  background-color: white;
}

.badgerSlogan {
  composes: fontXL from "../../css/typography/_fonts.css";
  font-weight: bold;
  margin-bottom: 30px;
}

.sloganDescription {
  composes: fontS-Serif from "../../css/typography/_fonts.css";
}

@media largeScreen {
  .homepageTopSlice {
    text-align: center;
    padding: 160px 0 230px 0;
  }

  .sliceContainer {
    max-width: 730px;
    display: inline-block;
    text-align: left;
  }
}
