@value badgerBlack, badgerWhite, scorpian, badgerRed, midBlue from '../../css/_colors.css';
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.NatsSliceWrapper {
  composes: dividerBlue from '../../css/_divider.css';
  width: 100%;
  background: midBlue;
  color: badgerBlack;
}

.NatsSliceBodyheader {
  composes: boldSansSerif from '../../css/typography/_fonts.css';
  display: flex;
}

.NatsSliceBodyheader h4 {
  font-size: 35px;
  margin-right: 14px;
}

.NatsSliceBodyheader img {
  width: 162px;
  height: 42px;
  margin-top: -7px;
}

.NatsSliceStrong {
  composes: boldSansSerif from '../../css/typography/_fonts.css';
}

.NatsSlice {
  composes: sansSerif from '../../css/typography/_fonts.css';
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 24px;
  line-height: 1.5em;
}

.NatsSliceHeading {
  composes: serif from '../../css/typography/_fonts.css';
  font-size: 28px;
  line-height: 1.25em;
}

.NatsSliceTextContent {
  padding-top: 16px;
}

.NatsSlice p {
  font-size: 18px;
  line-height: 1.25em;
  margin-bottom: 20px;
}

.NatsSlice h4 {
  margin-bottom: 16px;
}

.NatsSliceTitleImage {
  display: block;
  width: 100%;
  max-width: 610px;
}

.NatsSliceLink {
  composes: boldSansSerif from '../../css/typography/_fonts.css';
  cursor: pointer;
  font-size: 18px;
  background: badgerBlack;
  color: badgerWhite;
  display: block;
  height: 72px;
  width: 179px;
  line-height: 72px;
  text-align: center;
}

.NatsSliceLink:hover {
  background: scorpian;
}

.NatsSliceCloseButton {
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  background: none;
  top: 14px;
  right: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.NatsSliceCloseButton:after,
.NatsSliceCloseButton:before {
  content: '';
  display: block;
  background: badgerWhite;
  height: 2px;
  width: 20px;
  position: absolute;
  left: -2px;
  top: 7px;
}

.NatsSliceCloseButton:after {
  transform: rotate(45deg);
}

.NatsSliceCloseButton:before {
  transform: rotate(-45deg);
}

.NatsSliceImageWrapper {
  display: none;
  max-width: 472px;
}

.NatsSliceImageWrapper img {
  display: none;
}

.NatsSliceCTA {
  composes: boldSansSerif from '../../css/typography/_fonts.css';
  display: block;
}

.NatsSliceCTA p {
  display: flex;
}

@media mediumScreen {
  .NatsSlice {
    display: flex;
    flex-direction: row;
    padding: 40px 60px;
  }

  .NatsSliceTextContent {
    padding-top: 40px;
  }

  .NatsSliceImage {
    margin-top: 14px;
  }

  .NatsSliceHeading {
    font-size: 60px;
  }

  .NatsSlice h4 {
    margin-bottom: 40px;
  }

  .NatsSlice p {
    font-size: 22px;
    margin-bottom: 40px;
  }

  .NatsSliceLink {
    font-size: 24px;
    line-height: 72px;
  }

  .NatsSliceText {
    width: 100%;
    min-width: 420px;
  }
}

@media largeScreen {
  .NatsSliceImageWrapper {
    display: block;
    position: relative;
    width: 100%;
  }

  .NatsSliceImageWrapper img {
    display: block;
    width: 200%;
    position: absolute;
    right: -422px;
    top: 50%;
    transform: translateY(-50%);
  }

  .NatsSliceText {
    width: 52%;
  }

  .NatsSliceTextContent {
    margin-right: 50px;
  }
}
