/**
 * Display-type utilities
 *
 * Taken from https://github.com/suitcss/utils-display
 *
 * If this is the best way to do this we should look at
 * converting these utils to CSS Module friendly CSS and
 * putting them on NPM.
 */

.block {
  display: block !important;
}

.hidden {
  display: none !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.hiddenVisually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.inline {
  display: inline !important;
}

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.inlineBlock {
  display: inline-block !important;
  max-width: 100%; /* 1 */
}

.table {
  display: table !important;
}

.tableCell {
  display: table-cell !important;
}

.tableRow {
  display: table-row !important;
}
