@value badgerWhite, badgerRed, badgerBlack from "../../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../../css/_sizes.css";
@value timelineNavigationButton from "../../../../../css/_zindex.css";

.text{
  display: none;
  position: relative;
  color: #CCC;
  composes: boldSansSerif from "../../../../../css/typography/_fonts.css";
	composes: fontXS from "../../../../../css/typography/_fonts.css";
  transition: 0.3s ease-in-out;
  left: -15px;
  cursor: pointer;
}

.active a,
.text:hover{
  color: badgerRed;
}

.old,
.active,
.future{
  position: absolute;
  border: none;
  background: transparent;
  top: -35px;
  margin-left: -5px;
  text-align: left;
  padding: 0;
  height: 40px;
  width: 20px;
  overflow: visible;
}

.old span,
.active span{
  background-color: badgerRed;
}

.old:hover,
.active:hover,
.future:hover{
  cursor: pointer;
}

.old:hover .text,
.active:hover .text,
.future:hover .text{
  color: badgerRed;
}

.old span,
.active span,
.future span{
  z-index: timelineNavigationButton;
  transition : 0.3s ease-in-out;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  background-color: #CCC;
 }

.old span,
.active span{
  background-color: badgerRed;
 }


@media mediumScreen {
  .text{
     display: block;
     top: -10px;
  }
}
