@value badgerWhite, badgerRed, badgerBlack from "../../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../../css/_sizes.css";
@value timelineNavigationButton from "../../../../../css/_zindex.css";

.text{
  display: none;
  position: relative;
  color: #CCC;
  composes: sansSerifBold from "../../../../../css/typography/_fonts.css";
	composes: fontXS from "../../../../../css/typography/_fonts.css";
  transition: 0.3s ease-in-out;
  left: -15px;
  cursor: pointer;
}

.active a, 
.text:hover{
  color: badgerRed;
}

.old,
.active,
.future{
  position: absolute;
  border: none;
  background: transparent;
  top: -5px;
  text-align: left;
  padding: 0;
}

.old span,
.active span{
  background-color: badgerRed;
}


.old:focus,
.active:focus,
.future:focus{
  outline: none;
}

.old,
.active,
.future{
  
}

.old span,
.active span,
.future span{
  z-index: timelineNavigationButton;
  transition : 0.3s ease-in-out;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  background-color: #CCC;
 }

.old span,
.active span{
  background-color: badgerRed;
 }


@media mediumScreen {
  .text{
     display: block;
     top: -40px;
  }
}
