@value badgerWhite, badgerRed, badgerRedOnBlack, badgerBlack from "../../../../css/_colors.css";
@value mediumScreen, largeScreen, contentMaxWidth from "../../../../css/_sizes.css";

.container{
  display: flex;
  padding-top: 20px;
}

.rightCol{
  padding-left: 30px;
  max-width: 670px;
}
.number {
  padding-top: 5px;
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  composes: fontXS from "../../../../css/typography/_fonts.css";
  border-bottom: 5px solid badgerRedOnBlack;
  width: 20px;
  text-align: center;
}

.title {
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  padding-bottom: 10px;
}

.description{
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontXS from "../../../../css/typography/_fonts.css";
  color: badgerWhite;
}
