@value badgerWhite from '../../css/_colors.css';

.caseStudy {
  composes: fontXS from '../../css/typography/_fonts.css';
  composes: lightSerif from '../../css/typography/_fonts.css';
  font-size: 20px;
  line-height: 27px;
  background-color: badgerWhite;
}
