@value badgerBlack, badgerWhite, badgerRed, badgerRedOnWhite, scorpian, cainYellow, cainYellowFaded from "../../css/_colors.css";
@value contentMaxWidth, largeScreen, mediumScreen, smallScreen from "../../css/_sizes.css"; 

.techLabSlice {
  min-height: 200px;
  width: 100%;
  max-width: contentMaxWidth;
  margin: auto;
  position: relative;
}

.headingContainer {
  text-align: center;
  margin: auto;

}

.headingContainer p {
  max-width: 260px;
  font-family: ProximaNova, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 100%;
  margin: auto;
}

.heading {
  margin-top: 0;
  font-family: 'Sentinel A', 'Sentinel B', Georgia, serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.14;
  color: black;
  text-align: center;
}

.heading__mobile {
  display: block;
  margin-bottom: 20px;
}

.heading__desktop {
  display: none;
}

.techLabImage {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.exploreBtn {
  composes: primaryButton from "../../css/_links.css";
  background-color: badgerBlack;
  margin: auto;
  width: 100%;
  max-width: 240px;
  font-size: 24px;
  margin-top: 30px;
}

@media smallScreen {
  .heading {
    font-size: 40px;
  }

  .heading sup {
    font-size: 30px;
  }
  
}

@media largeScreen {
  .techLabSlice {
    max-height: 340px;
  }

  .headingContainer {
    width: 42%;
    max-width: 500px;
    float: right;
  }
  
  .heading {
    font-size: 40px;
    text-align: left;
    position: absolute;
    top: 60px;
  }
  
  .heading sup {
    font-size: 30px;
  }
  
  .techLabImage {
    display: block;
    max-height: 370px;
    margin-bottom: 0;
    width: auto;
  }

  .heading__mobile {
    display: none;
    margin-bottom: 20px;
  }
  
  .heading__desktop {
    display: block;
  }

  .headingContainer p {
    display: none;
  }

  .exploreBtn {
    position: absolute;
    top: 200px;
    left: 58%;
  }
}