@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.header {
  height: 180px;
  width: 100%;
  position: relative;
}

.header img {
  height: 180px;
  width: auto;
  position: absolute;
  left: calc(50% - 284px);
  top: 0;
}

@media mediumScreen {
  .header {
    height: auto;
    width: auto;
    position: relative;
  }

  .header img {
    height: 456px;
    width: auto;
    position: relative;
    left: 0;
  }
}
