@value tablet from "../../components/variables/breakpoints.css";
@value badgerWhite, badgerBlack, red from "../../../../../site/css/_colors.css";

.background {
  background-color: badgerWhite;
}

.noteTitle {
  composes: h2 from "../../components/typography/style.css";
  font-size: 1.333em !important;
}

.linkBackArrow {
  composes: sketchArrowLeft from "../../components/icons/style.css";
  color: red;
}

.externalIcon {
  composes: sketchExternalLink from "../../components/icons/style.css";
  color: red;
  font-size: 14px;
}

.applyLink {
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";

  float: right;
  display: none;

  @media tablet {
    display: inline;
  }
}

.sidebarApplyLink {
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";
  color: badgerBlack;
}

.linkBack {
  display: block;
  margin-bottom: 25px;
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";

  @media tablet {
    display: inline;
    margin-bottom: 0;
  }
}
