@value tablet from "../../components/variables/breakpoints.css";
@value badgerWhite, badgerBlack from "../../../../../site/css/_colors.css";

.background {
  background-color: badgerWhite;
}

.noteTitle {
  composes: h2 from "../../components/typography/style.css";
  font-size: 1.333em !important;
}

.applyLink {
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";

  float: right;
  display: none;

  @media tablet {
    display: inline;
  }
}

.sidebarApplyLink {
  composes: smallButton from "../../../../../site/css/_links.css";
}

.linkBack {
  composes: bodyLink from "../../../../../site/css/_links.css";
  display: block;
  margin-bottom: 25px;
  composes: sansSerif from "../../../../../site/css/typography/_fonts.css";

  @media tablet {
    display: inline;
    margin-bottom: 0;
  }
}
