@value badgerBlack, badgerWhite, daveGreen, stuBlue, yoloPurple from "../../../../css/_colors.css";
@value maxWidth, largeScreen, mediumScreen from "../../../../css/_sizes.css";

.twitter {
  composes: card from "../styles.css";
  color: badgerBlack;
  padding-left: 0px;
  width: 100%;
}

.green { background: daveGreen; }
.blue { background: stuBlue; }
.purple { background: yoloPurple; }

.tweet {
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../css/typography/_fonts.css";
  margin: 0px 20px;
}

.meta {
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../css/typography/_fonts.css";
  margin: 20px;
}

.meta span {
  margin-right: 15px;
}

.handle {
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontS from "../../../../css/typography/_fonts.css";
  margin: 10px 20px;
}

.icon {
  vertical-align: middle;
}

.icon svg {
  width: 17px;
  height: 16px;
  margin-right: 5px;
}

.twitterIcon svg {
  width: 19px;
  height: 15px;
  margin-right: 20px;
}
