@value midGrey from "../variables/colors.css";

.button {
  composes: defaultFont from "../fonts/style.css";
  display: inline-block;
  margin: 0;
  padding: 4px;
  margin-bottom: 9px;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.25;
  color: grey;
  border: 1px solid midGrey;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  cursor: pointer;
}
