@value badgerRedOnBlack, badgerBlack, badgerWhite, daveGreen, badgerRedOnWhite from "../../../css/_colors.css";
@value mediumScreen, largeScreen, inputHeight, contentMaxWidth from "../../../css/_sizes.css";

.newsletter {
  composes: dividerGreen from "../../../css/_divider.css";
  background-color: daveGreen;
  padding: 20px 20px 30px;
}

.newsletterInner, .newsletterInnerAfter {
  max-width: contentMaxWidth;
  margin: 0 auto;
  color: badgerBlack;
  text-align: center;
  padding: 30px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsletterInnerAfter {
  padding-top: 0px;
}

.beforeErrorText {
  composes: boldSansSerif from '../../../css/typography/_fonts.css';
  font-size: 16px;
  color: badgerBlack;
  text-align: left;
  padding-top: 5px;
}

.afterErrorText {
  composes: boldSansSerif from '../../../css/typography/_fonts.css';
  font-size: 16px;
  color: badgerBlack;
  position: relative;
  padding-top: 5px;
}

.buttonSubmitting {
  opacity: 0.7;
}

.submitted {
  composes: dividerGreen from "../../../css/_divider.css";
  background-color: daveGreen;
  color: badgerBlack;
}

.title {
  composes: fontL from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
  text-align: center;
}

.subTitle {
  composes: fontS from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
  margin-bottom: 40px;
  padding-top: 10px;
}

.signUpSubtitle {
  composes: fontXS from '../../../css/typography/_fonts.css';
  composes: sansSerif from '../../../css/typography/_fonts.css';
}

.newsletterInnerAfter .subTitle {
  text-align: center;
  margin: 0 auto;
}

.form {
  text-align: left;
}

.form > div {
  padding-bottom: 30px;
}

.formLabel {
  composes: fontS from '../../../css/typography/_fonts.css';
  composes: sansSerif from '../../../css/typography/_fonts.css';
  display: block;
  margin-bottom: 5px;
}

.formInput {
  composes: fontS from '../../../css/typography/_fonts.css';
  composes: sansSerif from '../../../css/typography/_fonts.css';
  line-height: inputHeight;
  height: inputHeight;
  padding: 0 17px;
  border: 0px;
  width: 100%;
}

.beforeFormError {
  border: 2px solid badgerBlack;
}

.afterFormError {
  border: 2px solid badgerBlack;
}

.submitButton {
  composes: primaryButton from '../../../css/_links.css';
  background-color: badgerBlack;
  margin: 0 auto 10px;
  display: block;
  cursor: pointer;
}

.submitted .submitButton {
  background-color: badgerBlack;
}

.jsDisabled {
  composes: fontXS from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
  margin: 10px auto 30px;
}

.link {
  composes: primaryButton from '../../../css/_links.css';
  background-color: badgerBlack;
  margin-bottom: 30px;
  height: auto;
}

@media mediumScreen {
  .newsletterInner, .newsletterInnerAfter {
    padding-bottom: 10px;
  }

  .form {
    text-align: center;
  }

  .submitted .form {
    width: 400px;
    text-align: left;
    margin: 0 auto;
  }

  .formLabel {
    line-height: inputHeight;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
  }

  .title {
    margin: 20px auto;
  }

  .newsletterInner .title {
    font-size: 30px;
    margin: 0;
  }

  .newsletterInner .subTitle {
    max-width: 400px;
    margin: 0 auto 40px;
  }

  .newsletterInnerAfter .subTitle {
    margin: 0 auto 60px;
    max-width: 585px;
  }

  .submitted .formLabel {
    width: auto;
    line-height: inherit;
    margin-left: 0;
    margin-bottom: 5px;
    display: block;
  }

  .formInput {
    width: 400px;
    vertical-align: text-bottom;
  }

  .submitButton {
    display: inline-block;
    margin: 0 auto 40px;
    vertical-align: top;
  }

  .submitted .submitButton {
    display: block;
  }
  .formBlock {
    display: inline-block;
  }
  .beforeErrorText {
    left: 0px;
    position: relative;
    color: badgerBlack;
  }

  .newsletter {
    padding: 30px 20px 40px 20px;
  }
}

@media largeScreen {
  .newsletterInner {
    flex-direction: row;
    padding-bottom: 0px;
  }

  .newsletterInnerAfter {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .newsletterInner .formInput {
    width: 350px;
  }

  .formLabel {
    display: none;
  }

  .newsletterInnerAfter .title {
    text-align: center;
  }

  .newsletterInner .subTitle {
    text-align: left;
  }

  .submitted .formLabel {
    width: 101px;
    margin-left: -131px;
    line-height: inputHeight;
    text-align: left;
    display: inline-block;
  }

  .submitButton {
    margin-top: 0;
  }

  .submitted .submitButton {
    margin-top: 10px;
  }

  .submitted .form {
    margin: 0 auto;
  }
}
