@value badgerRed, badgerBlack, mauve, badgerWhite from "../../../css/_colors.css";
@value largeScreen, mediumScreen from "../../../css/_sizes.css";

.leanAgileSlice {
  padding: 30px 0;
}

.leanAgileHeader {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  max-width: 210px;
  margin: 0 auto;
  text-align: center;
}

.loopContainer {
  position: relative;
  height: 124px;
  margin: 30px auto;
  text-align: center;
}

.word {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  width: 130px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.wordLeft {
  composes: word;
  left: 0;
}

.wordRight {
  composes: word;
  right: 0;
}

.largeLoopImage {
  display: none;
}

.smallLoopImage {
  display: inline-block;
  width: 100%;
}

.smallLoopImage svg {
  width: 290px;
  height: 124px;
}

.steps {
  max-width: 290px;
  margin: 0 auto;
  position: relative;
}

.stepHeader {
  composes: fontM2 from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.stepInnovationHeader {
  composes: stepHeader;
  border-left: 5px dashed mauve;
}

.stepDeliveryHeader {
  composes: stepHeader;
  border-left: 5px solid mauve;
}

.step {
  position: relative;
  padding-left: 18px;
  padding-bottom: 20px;
  border-left: 5px solid mauve;
}

.stepPaddingBottom {
  height: 38px;
  border-left: 5px dashed mauve;
  margin-top: 4px;
}

.marker {
  position: absolute;
  left: -9px;
  top: 0;
  width: 13px;
  height: 13px;
  background: badgerBlack;
  border-radius: 9px;
  box-shadow: 0 0 0 5px badgerWhite;
}

.stepSubHeader {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
  display: inline-block;
}

.stepDescription {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
  color: badgerBlack;
}

@media mediumScreen {
  .leanAgileHeader {
    font-size: 40px;
    max-width: 340px;
  }

  .smallLoopImage, .stepHeader, .stepPaddingBottom {
    display: none;
  }

  .loopContainer {
    height: 700px;
    margin: 0;
  }

  .word {
    font-size: 30px;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .wordLeft {
    top: 20%;
    left: 50%;
  }

  .wordRight {
    left: 50%;
    top: auto;
    bottom: 18%;
  }

  .steps {
    margin-top: 130px;
    margin-bottom: 110px;
  }

  .largeLoopImage {
    display: block;
    width: 290px;
    height: 700px;
  }

  .step {
    position: absolute;
    padding-left: 0;
    padding-bottom: 0;
    border-left: none;
  }

  .marker {
    left: 0;
  }

  .stepContent {
    position: absolute;
  }

  .stepSubHeader {
    font-size: 16px;
  }

  .step:nth-of-type(1) {
    top: 8px;
    left: 191px;
  }

  .step:nth-of-type(1) .stepContent {
    width: 160px;
    top: -100px;
    left: 5px;
  }

  .step:nth-of-type(2) {
    top: 137px;
    left: 280px;
  }

  .step:nth-of-type(2) .stepContent {
    left: 30px;
    width: 200px;
  }

  .step:nth-of-type(3) {
    top: 285px;
    left: 191px;
  }

  .step:nth-of-type(3) .stepContent {
    left: 30px;
    width: 160px;
  }

  .step:nth-of-type(4) {
    top: 396px;
    left: 80px;
  }

  .step:nth-of-type(4) .stepContent {
    text-align: right;
    top: -77px;
    left: -190px;
    width: 170px;
  }

  .step:nth-of-type(5) {
    top: 533px;
    left: -3px;
  }

  .step:nth-of-type(5) .stepContent {
    text-align: right;
    top: 0;
    left: -155px;
    width: 140px;
  }

  .step:nth-of-type(6) {
    top: 669px;
    left: 80px;
  }

  .step:nth-of-type(6) .stepContent {
    text-align: right;
    top: 25px;
    left: -243px;
    width: 250px;
  }
}

@media largeScreen {
  .leanAgileSlice {
    padding: 50px 0;
  }

  .leanAgileHeader {
    font-size: 60px;
    max-width: 550px;
  }

  .steps {
    max-width: 410px;
  }

  .marker {
    position: absolute;
    left: -9px;
    top: 0;
    width: 22px;
    height: 22px;
    background: badgerBlack;
    border-radius: 11px;
    box-shadow: 0 0 0 5px badgerWhite;
  }

  .loopContainer {
    height: 1000px;
  }

  .word {
    font-size: 40px;
  }

  .largeLoopImage {
    display: block;
    width: 410px;
    height: 1000px;
  }

  .stepSubHeader {
    font-size: 24px;
  }

  .stepDescription {
    font-size: 24px;
  }

  .step:nth-of-type(1) {
    top: 8px;
    left: 274px;
  }

  .step:nth-of-type(1) .stepContent {
    width: 340px;
    top: -110px;
    left: 0;
    font-size: 24px;
  }

  .step:nth-of-type(2) {
    top: 190px;
    left: 403px;
  }

  .step:nth-of-type(2) .stepContent {
    width: 370px;
  }

  .step:nth-of-type(3) {
    top: 404px;
    left: 274px;
  }

  .step:nth-of-type(3) .stepContent {
    left: 0;
    top: 35px;
    width: 310px;
  }

  .step:nth-of-type(4) {
    top: 565px;
    left: 112px;
  }

  .step:nth-of-type(4) .stepContent {
    left: -330px;
    top: -115px;
    width: 300px;
  }

  .step:nth-of-type(5) {
    top: 761px;
    left: 3px;
  }

  .step:nth-of-type(5) .stepContent {
    width: 265px;
    left: -290px;
  }

  .step:nth-of-type(6) {
    top: 937px;
    left: 112px;
  }

  .step:nth-of-type(6) .stepContent {
    width: 410px;
    left: -410px;
    top: 40px;
  }
}
