@value badgerRed, badgerBlack from "../../../css/_colors.css";

.leanAgileSlice {
  padding: 30px 0;
}

.leanAgileHeader {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  max-width: 210px;
  margin: 0 auto;
  text-align: center;
}

.loopContainer {
  position: relative;
  max-width: 335px;
  height: 127px;
  margin: 30px auto;
  text-align: center;
}

.word {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  width: 130px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.wordLeft {
  composes: word;
  left: 20px;
}

.wordRight {
  composes: word;
  right: 20px;
}

.loopImage {
  display: inline-block;
  width: 100%;
}

.loopImage svg {
  width: 100%;
  height: 127px;
}

.steps {
  max-width: 290px;
  margin: 0 auto;
}

.stepInnovationHeader {
  composes: fontM2 from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  text-transform: uppercase;
  border-left: 5px dashed badgerBlack;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.stepDeliveryHeader {
  composes: fontM2 from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  text-transform: uppercase;
  border-left: 5px solid badgerBlack;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.step {
  position: relative;
  padding-left: 18px;
  padding-bottom: 20px;
  border-left: 5px solid badgerBlack;
}

.stepPaddingBottom {
  height: 38px;
  border-left: 5px dashed badgerBlack;
  margin-top: 4px;
}

.marker {
  width: 18px;
  height: 18px;
  background: badgerRed;
  border-radius: 9px;
  position: absolute;
  left: -12px;
  top: 0;
}

.stepSubHeader {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
  display: inline-block;
}

.stepDescription {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
}
