@value badgerRed, badgerBlack, badgerWhite from "../../../css/_colors.css";
@value largeScreen, mediumScreen from "../../../css/_sizes.css";

.leanAgileSlice {
  padding: 30px 0;
}

.leanAgileHeader {
  composes: fontM from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  max-width: 210px;
  margin: 0 auto;
  text-align: center;
}

.loopContainer {
  position: relative;
  max-width: 335px;
  height: 127px;
  margin: 30px auto;
  text-align: center;
}

.word {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  width: 130px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.wordLeft {
  composes: word;
  left: 0;
}

.wordRight {
  composes: word;
  right: 0;
}

.largeLoopImage {
  display: none;
}

.smallLoopImage {
  display: inline-block;
  width: 100%;
}

.smallLoopImage svg {
  width: 100%;
  height: 127px;
}

.steps {
  max-width: 290px;
  margin: 0 auto;
  position: relative;
}

.stepHeader {
  composes: fontM2 from "../../../css/typography/_fonts.css";
  composes: serif from "../../../css/typography/_fonts.css";
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.stepInnovationHeader {
  composes: stepHeader;
  border-left: 5px dashed badgerBlack;
}

.stepDeliveryHeader {
  composes: stepHeader;
  border-left: 5px solid badgerBlack;
}

.step {
  position: relative;
  padding-left: 18px;
  padding-bottom: 20px;
  border-left: 5px solid badgerBlack;
}

.stepPaddingBottom {
  height: 38px;
  border-left: 5px dashed badgerBlack;
  margin-top: 4px;
}

.marker {
  position: absolute;
  left: -9px;
  top: 0;
  width: 13px;
  height: 13px;
  background: badgerBlack;
  border-radius: 9px;
  box-shadow: 0 0 0 5px badgerWhite;
}

.stepSubHeader {
  composes: fontS from "../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
  display: inline-block;
}

.stepDescription {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
}

@media mediumScreen {
  .smallLoopImage, .stepHeader, .stepPaddingBottom {
    display: none;
  }

  .largeLoopImage {
    display: block;
    height: 750px;
  }

  .step {
    position: static;
    padding-left: 0;
    padding-bottom: 0;
    border-left: none;
  }
}
