@value mediumScreen, largeScreen from "../../../../../css/_sizes.css";

.leftCol {
  margin-top: 30px;
  z-index: 1;
}

.rightCol {
  composes: leftCol;
}

.fullWidth {
  composes: leftCol;
  margin-top: 0;
}

@media mediumScreen {
  .leftCol {
    margin-top: 0;
    padding: 0 60px 0 0;
    flex-basis: 50%;
    width: 50%;
  }

  .fullWidth {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .rightCol {
    padding: 0 0 0 60px;
  }
}
