@value mediumScreen, largeScreen from "../../../../../css/_sizes.css";

.leftCol {
  margin-top: 30px;
}

.rightCol {
  composes: leftCol;
}

.fullWidth {
  composes: leftCol;
  margin-top: 0;
}

@media mediumScreen {
  .leftCol {
    margin-top: 0;
    padding: 0 30px;
    flex-basis: 50%;
  }

  .fullWidth {
    flex-basis: 100%;
    text-align: center;
  }
}

@media largeScreen {
  .rightCol {
    padding-left: 90px;
  }
}
