@value badgerWhite, badgerRed, badgerBlack from "../../../css/_colors.css";

.timeline{
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
	composes: fontXS from "../../../css/typography/_fonts.css";
  background-color: badgerWhite;
  composes: dividerWhite from "../../../css/_divider.css";
}
.content {
  padding: 60px 40px;
}
