@value badgerWhite, badgerRed, badgerBlack from "../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../css/_sizes.css";

.timeline{
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
  composes: fontXS from "../../../css/typography/_fonts.css";
  background-color: badgerWhite;
  composes: dividerBlackOnTransparent from "../../../css/_divider.css";
}

.container {
  max-width: 1400px;
  margin: auto;
}

.content div div {
  height: auto;
}

.image{
  width: 100%;
}

.content {
  padding: 0px;
  background: badgerWhite;
  padding-bottom: 160px;
}

@media mediumScreen {
  .image{
    display: none;
  }

  .content {
    width: 100%;
    padding-top: 105px;
    padding-bottom: 296px;
  }
}

@media largeScreen {
  .content {
    width: 65%;
    margin: auto;
    padding-bottom: 126px;
  }
}
