@value badgerWhite, badgerRed, badgerBlack from "../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../css/_sizes.css";

.timeline{
  composes: boldSansSerif from "../../../css/typography/_fonts.css";
	composes: fontXS from "../../../css/typography/_fonts.css";
  background-color: badgerWhite;
  composes: dividerBlackOnTransparent from "../../../css/_divider.css";
}
.image{
  width: 100%;
}

.content {
  padding: 0px;
  background: badgerWhite;
}

@media mediumScreen {
  .image{
    display: none;
  }
  .content {
    width: 65%;
    margin: auto;
    margin-top: 105px;
    padding-bottom: 126px;
  }
}
