@value badgerWhite, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";

.navigator {
  background: badgerWhite;
}

.navigator__bottom {
  margin-top: -30px;
  margin-bottom: 80px;
  background: badgerWhite;
}

.container {
  width: 123px;
  position: relative;
  margin: auto;
  top: 57px;
}

.testimonials div {
  display: absolute;
}

.testimonials div:nth-child(1) {
  left: 0%;
}
.testimonials div:nth-child(2) {
  left: 25%;
}
.testimonials div:nth-child(3) {
  left: 50%;
}
.testimonials div:nth-child(4) {
  left: 75%;
}
.testimonials div:nth-child(5) {
  left: 100%;
}

@media largeScreen {
  .container {
    top: 95px;
  }

  .navigator__bottom {
    margin-bottom: 100px;
  }
}
