@value badgerBlack, badgerWhite from "../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../css/_sizes.css";

.qAndA__container {
  padding: 5px;
  margin-bottom: 10px;
}

.qAndA {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
  composes: dividerWhite from "../../../css/_divider.css";
  background-color: badgerWhite;
  color: badgerBlack;
}

.qAndA__heading {
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontL from "../../../css/typography/_fonts.css";
  padding-top: 60px;
  padding-bottom: 40px;
}

.qAndA_categoryList {
  border-bottom: 2px solid badgerBlack;
  margin-bottom: 70px;
}

@media mediumScreen {
  .qAndA__container {
    padding: 10px;
  }
}

@media largeScreen {
  .qAndA__wrapper {
    max-width: 1400px;
    margin: auto;
  }

  .qAndA__container {
    padding-left: calc(100% / 12 + 10px);
    padding-right: calc(100% / 12 + 10px);
  }
}
