@value badgerBlack, badgerWhite from "../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../css/_sizes.css";

.qAndA {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
  composes: dividerWhite from "../../../css/_divider.css";
  padding: 20px 10px;
  background-color: badgerWhite;
  color: badgerBlack;
}

.qAndA__heading {
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontL from "../../../css/typography/_fonts.css";
  padding-bottom: 20px;
}

.qAndA_categoryList {
  border-bottom: 2px solid badgerBlack;  
}

@media mediumScreen {
  .qAndA__container {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media largeScreen {
  .qAndA__container {
    padding-left: calc(8.3333% + 20px);
    padding-right: calc(8.333% + 20px);
    max-width: 1200px;
    margin: auto;
  }
}
