@value badgerBlack, badgerWhite from "../../../css/_colors.css";
@value largeScreen from "../../../css/_sizes.css";

.qAndA {
  composes: fontXS from "../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../css/typography/_fonts.css";
  padding: 20px;
  background-color: badgerWhite;
  color: badgerBlack;
  font-size: 20px;
  line-height: 27px;
}

.qAndA__heading {
  composes: serif from "../../../css/typography/_fonts.css";
  composes: fontL from "../../../css/typography/_fonts.css";
  padding-bottom: 20px;
}

@media largeScreen {
  .qAndA__container {
    padding-left: 140px;
    padding-right: 140px;
    max-width: 1200px;
    margin: auto;
  }
}
