@value hero: "Sentinel A", "Sentinel B", serif;
@value font: #333;

.h1 {
  color: font;
  font-family: hero;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0 0 0.6em;
  text-align: center;
  margin-top: 50px;
}

.pastEventsTitle {
  margin-top: 50px;
}
