@value badgerRedOnBlack, badgerBlack, badgerWhite, linesOnBlack from "../../css/_colors.css";
@value mediumScreen, largeScreen, contentMaxWidth, containerMaxWidth from "../../css/_sizes.css";

.arrow svg {
  height: 15px;
  margin: 0 10px;
}

.screenReaderText {
  composes: visuallyHidden from "../../css/_accessibility.css";
}

.heading {
  composes: fontL from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  max-width: contentMaxWidth;
  margin: 0px auto;
  color: badgerWhite;
  text-align: center;
  padding: 20px;
}

.caseStudyContainer {
  composes: dividerBlack from "../../css/_divider.css";
  background-color: badgerBlack;
  padding: 0px 5% 12px 5%;
}

.limitWidth {
  max-width: containerMaxWidth;
  margin: auto;
}

.figuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.figureLink {
  border-top: 1px solid linesOnBlack;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.caseFigure svg {
  height: 80px;
  width: 100%;
}

.logo {
  height: 50px;
}

.caseText {
  composes: fontM from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  color: badgerWhite;
  text-align: center;
  padding: 30px 0px;
  max-width: 100%;
}

.lastWord {
  display: inline;
  white-space: nowrap;
}

.lastWord i {
  width: 22px;
  display: inline-block;
}

.caseCompanies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 74px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid linesOnBlack;
  border-bottom: 1px solid linesOnBlack;
  padding: 30px;
}

.caseCompanies img {
  margin: 0px 15px;
  height: 40px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 30px 0px 40px 0px;
}

.button {
  composes: primaryButton from "../../css/_links.css";
  background-color: badgerRedOnBlack;
}

@media mediumScreen  {
  .heading {
    padding: 40px;
  }
  .caseText {
    padding: 30px;
  }
  .figureLink {
    width: 49%;
    padding: 60px 0px;
  }

  .figureLink:nth-child(odd){
    border-right: 1px solid linesOnBlack;
  }

  .caseCompanies {
    justify-content: space-between;
  }

  .caseCompanies img:first-child {
    margin-left: 0px;
  }

  .caseCompanies img:last-child {
    margin-right: 0px;
  }

  .arrow svg {
    display: none;
  }
}
@media largeScreen {
  .heading {
    padding: 50px 60px 60px 60px;
  }

  .figuresContainer .caseFigure svg {
    height: 150px;
  }

  .figuresContainer img {
    height: 80px;
  }

  .caseCompanies {
    display: flex;
    flex-direction: row;
  }

  .caseCompanies img {
    margin: 0px 15px;
    height: 80px;
  }

  .buttonContainer {
    padding: 60px 0px;
  }

  .arrow svg {
    display: none;
  }
}
