@value black, white, linesOnBlack from "../../css/_colors.css";
@value mediumScreen, largeScreen, maxWidth from "../../css/_sizes.css";

.heading {
  composes: fontL from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  max-width: maxWidth;
  margin: 0px auto;
  color: white;
  text-align: center;
  padding: 20px;
}

.caseStudyContainer {
  composes: dividerBlack from "../../css/_divider.css";
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.figuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
}

.figuresContainer div {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid linesOnBlack;
}

.figuresContainer .caseFigure svg {
  height: 80px;
}

.figuresContainer img {
  height: 50px;
}

.caseText {
  composes: fontM from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  color: white;
  text-align: center;
  padding: 30px 0px;
  max-width: 100%;
}

.caseCompanies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 74px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid linesOnBlack;
  border-bottom: 1px solid linesOnBlack;
  padding: 30px;
  max-width: 1440px;
  width: 100%;
}

.caseCompanies img {
  margin: 0px 15px;
  height: 40px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 30px 0px 40px 0px;
}

.button {
  composes: primaryButton from "../../css/_links.css";
}

@media mediumScreen  {
  .heading {
    padding: 40px;
  }
  .caseText {
    padding: 30px;
  }
  .figuresContainer div {
    width: 49%;
    padding: 60px 0px;
  }

  .figuresContainer div:nth-child(odd){
    border-right: 1px solid linesOnBlack;
  }

  .caseCompanies {
    justify-content: space-between;
  }

  .caseCompanies img:first-child {
    margin-left: 0px;
  }

  .caseCompanies img:last-child {
    margin-right: 0px;
  }

}
@media largeScreen {
  .heading {
    padding: 50px 60px 60px 60px;
  }

  .figuresContainer .caseFigure svg {
    height: 150px;
  }

  .figuresContainer img {
    height: 80px;
  }

  .caseCompanies {
    display: flex;
    flex-direction: row;
  }

  .caseCompanies img {
    margin: 0px 15px;
    height: 80px;
  }

  .buttonContainer {
    padding: 60px 0px;
  }
}
