@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";

.main {
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.mainWrapper {
  width: 84%;
  max-width: 1100px;
  margin: 0 auto;
}

.main:before {
  content: "“ ";
  color: #ff0038;
}

.main:after {
  content: " ”";
  color: #ff0038;
}

.author {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.role {
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.contentWrapper {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon {
  margin-right: 14px;
  float: left;
  border-radius: 50%;
  height: 86px;
  width: 86px;
}

.attribution {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media mediumScreen {
  .main {
    font-size: 24px;
    line-height: 1.25;
  }

  .author {
    font-size: 18px;
  }

  .role {
    font-size: 18px;
  }
}

@media largeScreen {
  .main {
    font-size: 40px;
    line-height: normal;
  }

  .author {
    font-size: 24px;
  }

  .role {
    font-size: 24px;
  }
}

