@value badgerBlack, badgerWhite, daveGreen, stuBlue, yoloPurple from "../../../../css/_colors.css";
@value maxWidth, largeScreen, mediumScreen from "../../../../css/_sizes.css";

.intro {
  composes: card from "../styles.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontL from "../../../../css/typography/_fonts.css";
  padding: 20px 20px;
  display: none;
  background: badgerBlack;
  color: badgerWhite;
}
.buttons{
  display: flex;
}
.prevButton, .nextButton{
  background: transparent;
  border: none;
}

.prevArrow svg,
.nextArrow svg{
  width: 25px;
  height: 25px
}

@media mediumScreen{
  .intro{
    display: block;
  }
}
