@value largeScreen from "../../css/_sizes.css";

.wrapper {
}

.container {
  width: 100%;
  max-width: large;
  padding: 0px 20px;
}

@media largeScreen {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}
