@value desktop, desktopMinWidth from "../variables/breakpoints.css";

.wrapper {
}

.container {
  width: 100%;
  max-width: large;
  padding: 0px 20px;
}

@media desktop {
  .container {
    width: desktopMinWidth;
    margin: 0 auto;
  }
}
