@value badgerWhite, badgerRed, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";

.image {
    display: none;
}
  
.imageWrapper{
  display: none;
}

.title {
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  margin-top: 10px;
  margin-bottom: 20px;
  color: badgerBlack;
}

.body{
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontXS from "../../../../css/typography/_fonts.css";
  margin-bottom: 10px;
  color: badgerBlack;
}

.largeScreen {
  display: none;
  overflow-y: auto;
}

.smallScreen {
  display: block;
  padding-bottom: 30px;
}

.topRow {
  display: block;
}
.copy{
  margin: 0px 0px 0px 0px;
  padding: 10px 20px 0px 20px;
}

.counterRow{
  border-bottom: 1px solid #CCC;
  margin: 30px 20px 0px 20px;
}

@media mediumScreen {
  .image {
    display: block;
    width: 100%;
  }
  .imageWrapper{
    display: block;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .largeScreen {
    display: block;
    max-width: 1200px;
    margin: auto;
  }
  .smallScreen {
    display: none;
  }
  .copy {
    max-width: 50%;
    align-self: flex-end;
    padding: 10px 30px 0px 30px;
  }
  .topRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .topRowFlipped {
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .counterRow {
    display: flex;
    justify-content: center;
    border-bottom: none;
    height: 85px;
    margin-top: 60px;
  }
}


@media largeScreen{
  .copy{
    
  }
  .imageWrapper{
    
  }
}
