@value badgerWhite, badgerRed, badgerBlack from "../../../../css/_colors.css";
@value smallScreen, mediumScreen, largeScreen, maxWidth from "../../../../css/_sizes.css";

.image {
    width: 100%;
}
  
.imageWrapper{
  width: 50%;
}
.title {
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  margin-top: 10px;
  margin-bottom: 20px;
  color: badgerBlack;
}

.body{
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  composes: fontXS from "../../../../css/typography/_fonts.css";
  margin-bottom: 10px;
  color: badgerBlack;
}

.largeScreen {
  display: none;
}
.smallScreen {
  display: block;
}
.topRow {
  display: block;
}
.copy{
  margin: 20px 0px 0px 0px;
  padding: 20px 20px 0px 20px;
}

.counterRow{
  border-bottom: 1px solid #CCC;
  margin: 60px 20px 70px 20px;
}

@media smallScreen{
 
}

@media mediumScreen {
  .largeScreen {
    display: block;
  }
  .smallScreen {
    display: none;
  }
  .copy{
    margin-right: 60px;
    margin-left: 0px;
    width: 340px;
    align-self: flex-end;
  }
  .topRow {
    display: flex;
    justify-content: center;
  }
  .topRowFlipped{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .counterRow{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    border-bottom: none;
  }
}


@media largeScreen{
  .copy{
    margin-right: 120px;
    margin-left: 120px;
    width: 450px;
  }
}
