@value badgerWhite, badgerBlack, daveGreen from "../../css/_colors.css";
@value mediumScreen, largeScreen from "../../css/_sizes.css";

.badgerProfile {
  background-color: badgerWhite;
  color: badgerBlack;
  padding: 0 20px;
}

.profileContainer{
  padding-top: 20px;
}

.profilePictureContainer{

}

.badgerImage{
  width: 454px;
}

.title {
  composes: fontM from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
}

.subtitle {
  composes: fontS from "../../css/typography/_fonts.css";
  composes: sansSerif from "../../css/typography/_fonts.css";
  font-weight: bold;
  font-size: 20px !important;
}

.categories {
  composes: fontS from "../../css/typography/_fonts.css";
  composes: sansSerif from "../../css/typography/_fonts.css";
  font-size: 20px !important;
}


.socialLinks{
  display: flex;
  flex-wrap: wrap;
}

.socialLinks li {
  margin-right: 15px;
}


.badgerSocialIcon svg{
  height: 20px;
}

.badgerSocialIcon path{
  fill: badgerBlack;

}


@media largeScreen {
  .badgerProfile {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .profileContainer {
    max-width: 1000px;
    margin: 0 auto;
  }
}
