@value badgerWhite, badgerBlack, daveGreen from "../../css/_colors.css";
@value mediumScreen from "../../css/_sizes.css";

.categories {
  composes: fontS2 from "../../css/typography/_fonts.css";
  composes: sansSerif from "../../css/typography/_fonts.css";
  margin-bottom: 10px;
}

.header {
  composes: fontM from "../../css/typography/_fonts.css";
  composes: serif from "../../css/typography/_fonts.css";
  margin-bottom: 5px;
}

.profileContainer {
  composes: fontS2 from "../../css/typography/_fonts.css";
  composes: lightSerif from "../../css/typography/_fonts.css";
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}

.subheader {
  composes: fontS2 from "../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../css/typography/_fonts.css";
}

.authorLinks {
  composes: subheader;
}

.greenBox {
  composes: authorLinks;
  composes: fontXS from "../../css/typography/_fonts.css";
  color: badgerBlack;
  border: solid 2px daveGreen;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.about {
  margin: 40px 0;
}

.authorLinks a {
  color: badgerBlack;
  border-bottom: solid 2px daveGreen;
}

.authorLink {
  margin-top: 40px;
}

.authorLink:first-child{
  margin-bottom: 10px;
}

.badgerImage {
  width: 100%;
}

.badgerProfile {
  background-color: badgerWhite;
  color: badgerBlack;
  padding: 0 20px;
}

.descriptionSections p {
  margin-bottom: 20px;
}

.profileDescriptionContainer {
  width: 335px;
}
.profileDescriptionContainer hr {
  margin: 30px 0;
}

.profilePictureContainer {
  width: 335px;
  margin-bottom: 30px;
}

@media mediumScreen {
  .profileContainer {
    margin: 0 auto;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  .profileDescriptionContainer{
    width: 478px;
  }
  .profilePictureContainer {
    width: 478px;
    margin-right: 0px;
  }
}

/* L */
@media screen and (min-width: 1050px) {
  .profileContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    flex-direction: row;
    align-items: flex-start;
  }
  .profileDescriptionContainer{
    width: 50%;
    max-width: 660px;
  }
  .profilePictureContainer {
    width: 454px;
    margin-right: 50px;
  }
}
