@value badgerWhite, badgerBlack, daveGreen from "../../../../css/_colors.css";

.badgerProfile {
  text-align: left;
  position: relative;
  display: block;
  height: 100%;
}

.badgerProfile:after {
  content: '';
  z-index: 1;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0  );
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  display: inline-block;
}

.badgerImage {
  width: 100%;
}

.badgerProfile:hover {
  box-shadow: 7px 7px daveGreen;
}

.badgerProfile:hover .skillsWrapper {
  display: block;
}

.skillsWrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.skillsHeading {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  color: daveGreen;
}

.skills {
  composes: fontM from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  color: badgerWhite;
}

.description {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 10px 10px;
  color: badgerWhite;
  text-shadow: 1px 1px 4px badgerBlack;
}

.name {
  composes: fontS2 from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  padding-bottom: 8px;
  line-height: 1.1em !important;
}

.jobDescription {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  line-height: 1.1em !important;
}

.arrow svg {
  position: absolute;
  overflow: hidden;
  top: 3px;
  height: 20px;
  width: 20px;
  margin-left: 6px;
}

.lastName {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}
