@value font from "../variables/colors.css";
@value sansSerif from "../../../../../site/css/typography/_fonts.css";

.rawHtml {
  font-family: sansSerif;
}

.rawHtml strong {
  font-family: 'ProximaNova-Bold';
}

.rawHtml ul {
  list-style: disc;
  color: font;
  margin-left: 1em;
  padding-left: 40px;
}

.rawHtml ul li {
  line-height: 1.4em;
}
