@value badgerWhite, badgerBlack, badgerRed, linesOnWhite from '../../../../css/_colors.css';
@value mediumScreen, largeScreen from "../../../../css/_sizes.css";

.header {
  height: 100%;
}

.header__container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.header__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.header__image {
  width: 100%;
}

.header__outcome {
  width: 120px;
  position: absolute;
}

.header__outcome--right {
  text-align: right;
  top: 13px;
  right: 20px;
}

.header__outcome--right .header__outcome__percentage:after {
  position: absolute;
  content: "";
  display: inline-block;
  left: -2px;
  bottom: 24px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: badgerBlack;
}

.header__outcome--left {
  bottom: 13px;
  left: 20px;
}

.header__outcome--left .header__outcome__percentage:after {
  position: absolute;
  content: "";
  display: inline-block;
  right: -2px;
  bottom: 24px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: badgerBlack;
}

.header__outcome__percentage {
  composes: fontM from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  display: block;
  border-bottom: 1px dashed badgerBlack;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.header__outcome__description {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: sansSerif from "../../../../css/typography/_fonts.css";
  font-size: 16px;
}

.techGraphImage {
  max-width: 100%;
  height: auto;
  padding: 0;
}

.content {
  padding-bottom: 40px;
  background-color: #F8F8F8;
}

.content__wrapper {
  padding: 20px 20px 20px;
}

.content__mainTitle {
  composes: fontL from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.content__title {
  composes: fontM2 from "../../../../css/typography/_fonts.css";
  composes: lightSerif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.content__redTitle {
  composes: fontXS from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  display: block;
  color: badgerRed;
}

.content__secondaryTitle {
  composes: fontS2 from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.content__paragraph {
  margin-bottom: 30px;
  composes: lightSerif from "../../../../css/typography/_fonts.css";
  composes: fontS2 from "../../../../css/typography/_fonts.css";
}

.content__video_embed {
  width: 100%;
  position: relative;
  padding-bottom: 56%;
}

.content__video_embed > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content__list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 30px;
}

.content__list__element {
  line-height: 28px;
}

.contactBox {
  height: 162px;
  padding: 33px 37px;
  max-width: 332px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  background-color: #ededed;
}

.contactBox__heading {
  font-size: 24px;
  line-height: 1.2em;
  composes: serif from "../../../../css/typography/_fonts.css";
  margin-bottom: 30px;
}

.contactBox__button {
  composes: smallButton from "../../../../css/_links.css";
}

.listBox {
  background-color: #fff;
  padding: 30px 23px 30px 16px;
}

.listBox__heading {
  composes: fontS2 from "../../../../css/typography/_fonts.css";
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  color: badgerRed;
  text-transform: uppercase;
}

.listBox__heading:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: linesOnWhite;
  margin: 15px 0;
}

.listBox__element {
  margin-bottom: 15px;
  padding-bottom: 15px;

  background-image: linear-gradient(to right, linesOnWhite 50%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 12px 1px;
  background-repeat: repeat-x;
}

.listBox__element:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  background-image: none;
}

.listBox__element--results {
  display: flex;
  justify-content: space-between;
  composes: fontS2 from "../../../../css/typography/_fonts.css";
  composes: serif from "../../../../css/typography/_fonts.css";
}

.listBox__element__label {
  max-width: 68%;
}

.overview {
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.09);
  margin-top: -20px;
  margin-bottom: 10px;
}

.imageRight,
.imageLeft {
  width: 100%;
  height: auto;
  padding: 0;
  padding-bottom: 30px;
}

.allScreensImage {
  margin-top: -20px;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.quote {
  padding: 0;
  margin-bottom: 30px;
  margin-left: 55px;
}

.quote__content {
  padding-bottom: 15px;
  composes: serif from "../../../../css/typography/_fonts.css";
  composes: fontM3 from "../../../../css/typography/_fonts.css";
}

.quote__attribution {
  composes: boldSansSerif from "../../../../css/typography/_fonts.css";
  composes: fontS2 from "../../../../css/typography/_fonts.css";
}

.showSmall {
  display: block;
}

.showMedium {
  display: none;
}

@media mediumScreen {
  .header__container {
    height: 100%;
  }

  .header__outcome {
    width: 200px;
  }

  .header__outcome--left {
    bottom: 78px;
  }

  .header__outcome--right {
    top: 78px;
  }

  .content__paragraph {
    padding-left: 124px;
  }

  .content__paragraph__right {
    float: right;
    clear: both;
    padding: 0;
    margin: 0;
    max-width: 48%;
  }

  .content__secondaryTitle {
    padding-left: 114px;
  }

  .content__list {
    padding-left: 134px;
  }

  .content__mainTitle {
    margin-bottom: -20px;
    padding-bottom: 40px;
  }

  .content__title {
    margin-top: 20px;
  }

  .contactBox {
    max-width: 47%;
    float: left;
    margin-right: 50px;
  }

  .overview {
    display: flex;
    margin: -20px 0 10px 105px;
  }

  .listBox {
    width: 100%;
    padding: 40px;
    padding-right: 18px;
  }

  .techGraphImage {
    padding-left: 20px;
    padding-right: 20px;
  }

  .imageRight {
    float: right;
    max-width: 55%;
  }

  .imageLeft {
    max-width: 49%;
    padding-bottom: 7%;
    margin-right: 3%;
    float: left;
    padding-bottom: 3%;
  }

  .allScreensImage {
    padding: 0 20px;
    margin-top: 7px;
  }

  .quote {
    padding-left: 195px;
  }

  .showSmall {
    display: none;
  }

  .showMedium {
    display: block;
  }
}

@media largeScreen {
  .content {
    max-width: 1400px;
    padding: 20px 120px 60px;
    margin: auto;
  }

  .content__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .content__paragraph,
  .content__secondaryTitle {
    padding-left: 30%;
    padding-right: 10%;
  }

  .content__paragraph__right {
    float: none;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .content__video_embed > iframe {
    padding: 0 10% 23% 30%;
  }

  .content__video_spacer {
    width: 100%;
    margin-top: -23%;
  }

  .content__list {
    padding-left: 396px;
    padding-right: 136px;
  }

  .content__mainTitle {
    position: relative;
    top: -125px;
    display: block;
    padding: 20px;
    height: 100%;
    background-color: badgerWhite;
    margin-bottom: -96px;
  }

  .content__title {
    padding-left: 15%;
  }

  .contactBox {
    float: left;
    margin-left: 4%;
    margin-top: -7%;
  }

  .header {
    height: 100%;
  }

  .overview {
    margin: 0;
    margin-left: 21%;
  }

  .techGraphImage {
    padding-left: 0;
    padding-right: 0;
  }

  .imageRight {
    max-width: 39%;
  }

  .imageLeft {
    padding-left: 15%;
    float: left;
  }

  .allScreensImage {
    padding: 0;
    padding-left: 21%;
  }

  .quote {
    max-width: 36%;
    float: right;
    padding-left: 0;
  }

  .header__image {
    width: 100%;
    position: relative;
    top: -68%;
  }

  .header__imageContainer > picture {
    width: 100%;
    max-height: 456px;
  }
}
